<div [@routerTransition]>
    <app-page-header [heading]="'GeoLocations'" [icon]="'fa-map-marker'"></app-page-header>
    <div class="row">
        <div class="col col-xl-12 col-lg-24">
           <div class="card mb-3">
                <div class="card-header">Ship location overview
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>Ship MMSI</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th>Timestamp</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ld of Locdata; let ind=index">
                                <td>{{ld._id}}</td>  
                                <td>{{ld.LAT}}</td>  
                                <td>{{ld.LON}}</td> 
                                <td>{{ld.TIMESTAMP}}</td>
                            </tr>
                        </tbody>
                    </table>
                    {{errData}}
                    
                </div>
            </div>
            </div>
    </div>
</div>
