<div class="row">
    <div class="col-lg-8">
        <canvas id="utilizationGraph"></canvas>
    </div>
    <div class="col-lg-3">
        Utilization of the vessel over time
        <table class="custom-table">
            <tr>
                <td>
                    {{breakdownKeysNiceName[0]}}:
                </td>
                <td>
                    Thick
                </td>
            </tr>
            <tr>
                <td>
                    {{breakdownKeysNiceName[1]}}:
                </td>
                <td>
                    Medium
                </td>
            </tr>
            <tr>
                <td>
                    {{breakdownKeysNiceName[2]}}:
                </td>
                <td>
                    Light
                </td>
            </tr>
        </table>
    </div>
    
</div>