/* Colors */

.theme-classic {
  --theme-classic-black: #212529;
  --theme-classic-blue: #007bff;
  --theme-classic-dark-blue: #18073a;
  --theme-classic-dark-blue-muted: rgba(24, 7, 58, 0.9);
  --theme-classic-transit-blue: rgba(0, 159, 227, 0.25);
  --theme-classic-transit-grey: #4a4949;
  --theme-classic-white: #FFF;
}

/* Palette */

.theme-classic {
  --primary: var(--theme-classic-dark-blue);
  --on-primary: var(--theme-classic-white);
  --primary-container: var(--theme-classic-dark-blue-muted);
  --on-primary-container: var(--theme-classic-white);

  --secondary: var(--theme-classic-blue);
  --on-secondary: var(--theme-classic-white);
  --secondary-container: var(--theme-classic-transit-blue);
  --on-seconary-container: var(--theme-classic-transit-grey);
}

/* Typography */

.theme-classic {
  text-rendering: auto;

  --font-display: "MontSerrat", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-body: "MontSerrat", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Sizes (to use for spacing) */
// The sizes should probably be separate from the theme

.theme-classic {
  --size-px: 1px;
  --size-000: -.5rem;
  --size-00: -0.25rem;
  --size-05: 0.125rem;
  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --size-5: 1.25rem;
  --size-6: 1.5rem;
  --size-7: 1.75rem;
  --size-8: 2rem;
  --size-9: 2.25rem;
  --size-10: 2.5rem;
  --size-11: 2.75rem;
  --size-12: 3rem;
  --size-14: 3.5rem;
  --size-16: 4rem;
  --size-20: 5rem;
  --size-24: 6rem;
  --size-28: 7rem;
  --size-32: 8rem;
  --size-36: 9rem;
  --size-40: 10rem;
  --size-44: 11rem;
  --size-48: 12rem;
}

/* Easings */

.theme-classic {
  --ease-out-quart: cubic-bezier(0.25, 1, 0.5, 1)
}

/* Transitions */

.theme-classic {
  --transition-out: var(--ease-out-quart);
}
