.rounded-btn {
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color: rgb(255, 255, 255) !important;
    background: rgba(0, 159, 227, 1);
    border: 2px solid rgba(66, 125, 237, 0.919);
    font-size: 14px;
    line-height: 25px;
    padding: 0 5px;
    min-width: 50px;
}

.rounded-btn:hover,
.rounded-btn:focus,
.rounded-btn:active,
.rounded-btn:visited {
    color: rgba(66, 125, 237, 1);
    border: 2px solid rgba(0, 159, 227, 1);
    outline: none;
}

a {
    color: rgb(255,255,255);
}

h4 {
    margin-bottom: 1rem;

    &:not(:first-of-type) {
        margin-top: 3rem;
    }

    &:first-of-type {
        float: left;
    }
}

.requestCampaign {
    float: right;
    margin-right: 1rem;
}

ngb-alert.alert {
    position: fixed;
    bottom: 0px;
    z-index: 1100;
}

.align-left {
    float: left;
}
