<ngb-alert *ngIf="projectSettingsChanged" type="warning">
  Project settings have been changed but are not yet applied to this forecast response.
</ngb-alert>
<div *ngIf="showContent; else loading" class="row center font-sm">
  <div class="col-lg-12 col-xl-4">
    <div class='card mb-3'>
      <div class='card-header flex-box'>
        <div>Project overview</div>
        <button type="button" class="btn btn-outline-secondary helpBtn" [autoClose]="true"
          [ngbPopover]="helpProjectOverview" placement="bottom" popoverClass="helpPopup">?
        </button>
      </div>
      <div class='card-body table-responsive'>
        <app-forecast-ops-picker [projects]="operations" [selectedProjectId]="project_id"
          [minForecastDate]="minForecastDate" [maxForecastDate]="maxForecastDate" [(heading)]="selectedHeading"
          (onChange)="onProjectSettingsChange($event)" [limits]="limits" [lastUpdated]="lastUpdated"
          [(slipCoefficient)]="selectedSlipCoefficient" [(thrustIndex)]="selectedThrustIndex"  [vessels]='vessels'
          [slipCoefficients]="SlipCoefficients" [slipThrustLevels]="SlipThrustLevels" [response]="responseObj">
        </app-forecast-ops-picker>
        <app-heading-picker class="center" [heading]="selectedHeading">
        </app-heading-picker>
      </div>
    </div>
  </div>

  <div class="col-lg-12 col-xl-8">
    <div class='card mb-3'>
      <div class='card-header nav-card-header'>
        <ul ngbNav #nav="ngbNav" class="nav-pills" (navChange)="onTabSwitch($event)">
          <li [destroyOnHide]="false" ngbNavItem="forecast-workability">
            <a ngbNavLink>Workability</a>
            <ng-template ngbNavContent>
              <ng-container *ngIf="Workability; else workabilityNotAvailable">
                <button type="button" class="btn btn-outline-secondary helpBtn right" [autoClose]="true" placement="left-top"
                  [ngbPopover]="helpWorkabilityAlongHeading" popoverClass="helpPopup" container="body">?
                </button>
                <app-forecast-workability-plot class="left"
                  [time]="reponseTime" [workabilityAlongHeading]="WorkabilityAlongSelectedHeading"
                  [startTime]="startTime" [stopTime]="stopTime">
                </app-forecast-workability-plot>

                <button type="button" class="btn btn-outline-secondary helpBtn right" [autoClose]="true" placement="left-top"
                  [ngbPopover]="helpWorkabilitySpectrum" popoverClass="helpPopup" container="body">?
                </button>
                <app-surface-plot [xLabel]="" yLabel="Heading (deg)" title="Workability" [xData]="reponseTime"
                  [yData]="WorkabilityHeadings" [zData]="Workability" zMax="125" class=left [lines]="[headingLine]">
                </app-surface-plot>

                <button type="button" class="btn btn-outline-secondary helpBtn right" [autoClose]="true" placement="left-top"
                  [ngbPopover]="helpSlipProbability" popoverClass="helpPopup" container="body">?
                </button>
                <app-surface-plot *ngIf="SlipProbability" [xLabel]="" yLabel="Heading (deg)" title="Slip probability"
                  [xData]="reponseTime" [yData]="WorkabilityHeadings" [zData]="SlipProbability" zMax="100" class="left"
                  [lines]="[headingLine]">
                </app-surface-plot>
              </ng-container>
            </ng-template>
          </li>

          <li ngbNavItem="forecast-motion-overview">
            <a ngbNavLink>Motion overview</a>
            <ng-template #weatherGraph id="tab-motion" ngbNavContent>
              <!-- <app-forecast-workability-plot class="left"
                [time]="reponseTime" [workabilityAlongHeading]="WorkabilityAlongSelectedHeading"
                [startTime]="startTime" [stopTime]="stopTime">
              </app-forecast-workability-plot> -->
              <app-forecast-motion-overview [time]="reponseTime" [headings]="WorkabilityHeadings"
                [startTime]="startTime" [stopTime]="stopTime" [response]="response?.Response">
              </app-forecast-motion-overview>
              <!-- <app-surface-plot [xLabel]="" yLabel="Heading (deg)" title="Workability" [xData]="reponseTime"
                [yData]="WorkabilityHeadings" [zData]="matService.transpose(response['Response']['Acc'])"
                zMax="125" class=left>
              </app-surface-plot> -->
            </ng-template>
          </li>

          <li ngbNavItem="forecast-weather-overview">
            <a ngbNavLink>Weather overview</a>
            <ng-template #weatherGraph id="tab-weather" ngbNavContent>
              <app-forecast-weather-overview [weather]="weather">
              </app-forecast-weather-overview>
            </ng-template>
          </li>

          <li ngbNavItem="forecast-wave-spectrum">
            <a ngbNavLink>Wave spectrum</a>
            <ng-template #spectralGraph id="tab-weather" ngbNavContent>
              <app-wave-spectrum [k_x]="spectrum?.k_x" [k_y]="spectrum?.k_y"
                [spectrum]="spectrum?.density" [time]="spectrum?.timeStamp"
                [weather]="weather">
              </app-wave-spectrum>
            </ng-template>
          </li>
        </ul>
      </div>


      <div class='card-body table-responsive'>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <app-ng-loading></app-ng-loading>
</ng-template>
<ng-template #workabilityNotAvailable>
  <div class="col-lg-12 col-xl-8 min-height">
    <div class="not-available">
      Workability not available!
    </div>
  </div>
</ng-template>

<ng-template #helpProjectOverview>
  Use the uppermost dropdown to navigate between projects. Then select the operation
  date, time and heading to receive a workability forecast. All other settings can be
  changed by navigating to the project settings page.
  <br><br>
  Note: a workability forecast cannot be generated unless valid limits have been specified!
</ng-template>
<ng-template #helpWorkabilityAlongHeading>
  Shows the expected workability along the selected heading.
  Workability is defined as the maximum over all the limits. Hence, 100% workability
  corresponds to at least one of the limits being reached. If workability exceeds 100%,
  the conditions are expected to be unsafe to perform the selected operation at that time.
</ng-template>
<ng-template #helpWorkabilitySpectrum>
  Shows the expected workability for all headings.
  Workability is defined as the maximum over all the limits. Hence, 100% workability
  corresponds to at least one of the limits being reached. If workability exceeds 100%,
  the conditions are expected to be unsafe to perform the selected operation at that time.

  <ng-container *ngIf="SlipProbability?.length > 0">
    The slip probability is included in the workability if it is selected as a limit (0-100%).
  </ng-container>
</ng-template>
<ng-template #helpSlipProbability>
  Shows the expected slip probabilty for CTVs during push on transfer with a stationary
  offshore object, such as an offshore wind turbine.
  Slip probability is defined as the likelyhood of at least 1 event where the vessels'
  bumper slips for more than the allowed slip margin over a predefined period. This depends
  on the slip coefficient and thrust force applied when making contact with the turbine.
  The stable period duration and allowed slip levels can be set on the project overview
  page (as such changes require new simulations).
</ng-template>
