<ngb-alert *ngIf="projectSettingsChanged" type="warning">
  Project settings have been changed but are not yet applied to this forecast response.
</ngb-alert>
<ngb-alert *ngIf="responseNotFound" type="warning">
  Response was not loaded - please wait until the simulation container has run
</ngb-alert>
<ngb-alert *ngIf="projectNotActive" type="warning">
  Selected project is no longer active!
</ngb-alert>

<div *ngIf="showContent; else loading" class="center font-sm">
  <div>
    <div class='card mb-3'>
      <div class='card-header nav-card-header'>
        <ul ngbNav #nav="ngbNav" class="nav-pills" (navChange)="onTabSwitch($event)">
          <li [destroyOnHide]="false" ngbNavItem="forecast-workability">
            <a ngbNavLink>Workability</a>
            <ng-template ngbNavContent>
              <div class="forecast-template-wrapper">
                <div *ngIf="Workability; else workabilityNotAvailable" class="col-lg-12 col-xl-8 forecast-template-wrapper__graph">
                  <button type="button" class="btn btn-outline-secondary helpBtn right" [autoClose]="true"
                    placement="left-top" [ngbPopover]="helpWorkabilityAlongHeading" popoverClass="helpPopup"
                    container="body">?
                  </button>
                  <app-forecast-workability-plot class="left" [time]="reponseTime"
                    [workabilityAlongHeading]="WorkabilityAlongSelectedHeading" [startTime]="startTime"
                    [stopTime]="stopTime">
                  </app-forecast-workability-plot>

                  <button type="button" class="btn btn-outline-secondary helpBtn right" [autoClose]="true"
                    placement="left-top" [ngbPopover]="helpWorkabilitySpectrum" popoverClass="helpPopup"
                    container="body">?
                  </button>
                  <app-surface-plot [xLabel]="" yLabel="Heading (deg)" title="Workability" [xData]="reponseTime"
                    [yData]="WorkabilityHeadings" [zData]="Workability" zMax="125" class=left [lines]="[headingLine]">
                  </app-surface-plot>

                  <button type="button" class="btn btn-outline-secondary helpBtn right" [autoClose]="true"
                    placement="left-top" [ngbPopover]="helpSlipProbability" popoverClass="helpPopup" container="body">?
                  </button>
                  <app-surface-plot *ngIf="slipProbability" [xLabel]="" yLabel="Heading (deg)" title="Slip probability"
                    [xData]="reponseTime" [yData]="WorkabilityHeadings" [zData]="slipProbability" zMax="100"
                    class="left" [lines]="[headingLine]">
                  </app-surface-plot>
                </div>
                <app-forecast-project-overview class="col-lg-12 col-xl-4 forecast-template-wrapper__overview" [selectedTab]="'Workability'"
                  [projects]="operations" [selectedProjectId]="project_id" [responseNotFound]="responseNotFound"
                  [minForecastDate]="minForecastDate" [maxForecastDate]="maxForecastDate" [limits]="limits"
                  [lastUpdated]="lastUpdated" [vessels]='vessels' [slipCoefficients]="slipCoefficients"
                  [response]="responseObj" [slipThrustLevels]="slipThrustLevels"
                  (onChange)="onProjectSettingsChange($event)" [(heading)]="selectedHeading"
                  [(slipCoefficient)]="selectedSlipCoefficient" [(thrustIndex)]="selectedThrustIndex">
                </app-forecast-project-overview>
              </div>
            </ng-template>
          </li>

          <li *ngIf="!responseNotFound" ngbNavItem="forecast-limiter">
            <a ngbNavLink>Limiter</a>
            <ng-template #limiterGraph id="tab-limiter" ngbNavContent>
              <div class="forecast-template-wrapper">
                <app-forecast-workability-limiter class="col-lg-12 col-xl-8 forecast-template-wrapper__graph" [time]="reponseTime" [limits]="limits"
                  [workabilityPerLimiter]="WorkabilityPerLimiterAlongSelectedHeading"
                  [combinedWorkability]="WorkabilityAlongSelectedHeading">
                </app-forecast-workability-limiter>
                <app-forecast-project-overview class="col-lg-12 col-xl-4 forecast-template-wrapper__overview" [selectedTab]="'Limiter'"
                  [projects]="operations" [selectedProjectId]="project_id" [responseNotFound]="responseNotFound"
                  [minForecastDate]="minForecastDate" [maxForecastDate]="maxForecastDate" [limits]="limits"
                  [lastUpdated]="lastUpdated" [vessels]='vessels' [slipCoefficients]="slipCoefficients"
                  [response]="responseObj" [slipThrustLevels]="slipThrustLevels"
                  (onChange)="onProjectSettingsChange($event)" [(heading)]="selectedHeading"
                  [(slipCoefficient)]="selectedSlipCoefficient" [(thrustIndex)]="selectedThrustIndex">
                </app-forecast-project-overview>
              </div>
            </ng-template>
          </li>

          <li *ngIf="!responseNotFound" ngbNavItem="forecast-motion-overview">
            <a ngbNavLink>Motion</a>
            <ng-template #motionGraph id="tab-motion" ngbNavContent>
              <div class="forecast-template-wrapper">
                <app-forecast-motion-overview class="col-lg-12 col-xl-8 forecast-template-wrapper__graph" [time]="reponseTime"
                  [headings]="WorkabilityHeadings" [startTime]="startTime" [stopTime]="stopTime"
                  [response]="response?.Response">
                </app-forecast-motion-overview>
                <app-forecast-project-overview class="col-lg-12 col-xl-4 forecast-template-wrapper__overview" [selectedTab]="'Motion'"
                  [projects]="operations" [selectedProjectId]="project_id" [responseNotFound]="responseNotFound"
                  [minForecastDate]="minForecastDate" [maxForecastDate]="maxForecastDate" [limits]="limits"
                  [lastUpdated]="lastUpdated" [vessels]='vessels' [slipCoefficients]="slipCoefficients"
                  [response]="responseObj" [slipThrustLevels]="slipThrustLevels"
                  (onChange)="onProjectSettingsChange($event)" [(heading)]="selectedHeading"
                  [(slipCoefficient)]="selectedSlipCoefficient" [(thrustIndex)]="selectedThrustIndex">
                </app-forecast-project-overview>
              </div>
            </ng-template>
          </li>

          <li *ngIf="!responseNotFound" ngbNavItem="forecast-weather-overview">
            <a ngbNavLink>Weather</a>
            <ng-template #weatherGraph id="tab-weather" ngbNavContent>
              <div class="forecast-template-wrapper">
                <app-forecast-weather-overview class="col-lg-12 col-xl-8 forecast-template-wrapper__graph" [weather]="weather">
                </app-forecast-weather-overview>
                <app-forecast-project-overview class="col-lg-12 col-xl-4 forecast-template-wrapper__overview" [selectedTab]="'Weather'"
                  [projects]="operations" [selectedProjectId]="project_id" [responseNotFound]="responseNotFound"
                  [minForecastDate]="minForecastDate" [maxForecastDate]="maxForecastDate" [limits]="limits"
                  [lastUpdated]="lastUpdated" [vessels]='vessels' [slipCoefficients]="slipCoefficients"
                  [response]="responseObj" [slipThrustLevels]="slipThrustLevels"
                  (onChange)="onProjectSettingsChange($event)" [(heading)]="selectedHeading"
                  [(slipCoefficient)]="selectedSlipCoefficient" [(thrustIndex)]="selectedThrustIndex">
                </app-forecast-project-overview>
              </div>
            </ng-template>
          </li>

          <li *ngIf="!responseNotFound" ngbNavItem="forecast-wave-spectrum">
            <a ngbNavLink>Wave spectrum</a>
            <ng-template #spectralGraph id="tab-weather" ngbNavContent>
              <div class="forecast-template-wrapper">
                <app-wave-spectrum class="col-lg-12 col-xl-8 forecast-template-wrapper__graph" [k_x]="spectrum?.k_x" [k_y]="spectrum?.k_y"
                  [spectrum]="spectrum?.density" [time]="spectrum?.timeStamp" [weather]="weather">
                </app-wave-spectrum>
                <app-forecast-project-overview class="col-lg-12 col-xl-4 forecast-template-wrapper__overview" [selectedTab]="'WaveSpectrum'"
                  [projects]="operations" [selectedProjectId]="project_id" [responseNotFound]="responseNotFound"
                  [minForecastDate]="minForecastDate" [maxForecastDate]="maxForecastDate" [limits]="limits"
                  [lastUpdated]="lastUpdated" [vessels]='vessels' [slipCoefficients]="slipCoefficients"
                  [response]="responseObj" [slipThrustLevels]="slipThrustLevels"
                  (onChange)="onProjectSettingsChange($event)" [(heading)]="selectedHeading"
                  [(slipCoefficient)]="selectedSlipCoefficient" [(thrustIndex)]="selectedThrustIndex">
                </app-forecast-project-overview>
              </div>
            </ng-template>
          </li>
        </ul>
      </div>


      <div class='card-body table-responsive'>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <app-ng-loading></app-ng-loading>
</ng-template>
<ng-template #workabilityNotAvailable>
  <div class="col-lg-12 col-xl-8 min-height">
    <div class="not-available">
      Workability not available!
    </div>
  </div>
</ng-template>

<ng-template #helpProjectOverview>
  Use the uppermost dropdown to navigate between projects. Then select the operation
  date, time and heading to receive a workability forecast. All other settings can be
  changed by navigating to the project settings page.
  <br><br>
  Note: a workability forecast cannot be generated unless valid limits have been specified!
</ng-template>
<ng-template #helpWorkabilityAlongHeading>
  Shows the expected workability along the selected heading.
  Workability is defined as the maximum over all the limits. Hence, 100% workability
  corresponds to at least one of the limits being reached. If workability exceeds 100%,
  the conditions are expected to be unsafe to perform the selected operation at that time.
</ng-template>
<ng-template #helpWorkabilitySpectrum>
  Shows the expected workability for all headings.
  Workability is defined as the maximum over all the limits. Hence, 100% workability
  corresponds to at least one of the limits being reached. If workability exceeds 100%,
  the conditions are expected to be unsafe to perform the selected operation at that time.

  <ng-container *ngIf="slipProbability?.length > 0">
    The slip probability is included in the workability if it is selected as a limit (0-100%).
  </ng-container>
</ng-template>
<ng-template #helpSlipProbability>
  Shows the expected slip probabilty for CTVs during push on transfer with a stationary
  offshore object, such as an offshore wind turbine.
  Slip probability is defined as the likelyhood of at least 1 event where the vessels'
  bumper slips for more than the allowed slip margin over a predefined period. This depends
  on the slip coefficient and thrust force applied when making contact with the turbine.
  The stable period duration and allowed slip levels can be set on the project overview
  page (as such changes require new simulations).
</ng-template>