.div-spacing {
  height: 50px;
}

.flex-container {
  display: inline-flex;
}

.max-card{
  max-width: 780px;
}

.center {
  align-self: center;
}

.font-sm {
  font-size: 14px;
}

app-heading-picker {
  align-self: center;
  justify-content: center;
}
