@import '../forecast.scss';

app-heading-picker {
  align-self: center;
  justify-content: center;
}

.min-height{
  align-self: center;
  justify-content: center;
  min-height: 100px;
}

.not-available{
  font-size: 30px;
  display: table;
  margin: 0 auto;
}
