<div *ngIf="showContent; else loading">
  <div class="row center font-sm">
    <div class="col-lg-12 col-xl-4">
      <div class='card mb-3'>
        <div class='card-header'>
          Project overview
        </div>
        <div class='card-body table-responsive'>
          <app-forecast-ops-picker [projects]="operations" [selectedProjectId]="project_id"
            [minForecastDate]="minForecastDate" [maxForecastDate]="maxForecastDate" 
            [(heading)]="selectedHeading" (onChange)="onProjectSettingsChange($event)">
          </app-forecast-ops-picker>

          <app-heading-picker class="center" [heading]="selectedHeading">
          </app-heading-picker>
        </div>
      </div>
    </div>

    <div class="col-lg-12 col-xl-8" *ngIf="Workability">
      <ngb-tabset [activeId]="activeTab" [justify]="'start'" [destroyOnHide]="true">
        <ngb-tab title="Workability" [disabled]="false" id="workability">
          <ng-template #workability id="tab-workability" ngbTabContent>
            <app-forecast-workability-plot [time]="ReponseTime" [workabilityAlongHeading]="WorkabilityAlongSelectedHeading"
              [startTime]="startTime" [stopTime]="stopTime">
            </app-forecast-workability-plot>

            <app-surface-plot xLabel="time" yLabel="Heading [deg]" title="Workability" [xData]="ReponseTime"
              [yData]="WorkabilityHeadings" [zData]="Workability" zMax="125">
            </app-surface-plot>
          </ng-template>
        </ngb-tab>

        <ngb-tab title="Weather overview" [disabled]="false" id="weather">
          <ng-template #weather id="tab-weather" ngbTabContent>
            <app-forecast-weather-overview [time]="ReponseTime" [response]="response">
            </app-forecast-weather-overview>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>


<ng-template #loading>
  <app-ng-loading></app-ng-loading>
</ng-template>