.dockingGraph {
    position: relative;
    width: 100% !important;
}

.boatSelectDropdown {
    margin-top: 40px;
}

.dockingGraph canvas {
    max-height: 450px !important;
}

.tableTotal {
    border-top: 3px black solid;
}

.ngb-alert-hover {
    position: fixed;
    bottom: 0px;
}

.btn-danger {
    margin-left: 2em;
}

.submitbtnclass {
    background: white !important;
}

.tableSummary {
    border: 1px;
}

agm-map {
    height: 400px;
}

.dailySummary {
    display: inline-block;
    vertical-align: top;
}

.form-number {
  min-width: 60px;
}

.single-block-print {
    page-break-before: auto;
    page-break-inside: avoid;
}

.weatherOverview {
    display: inline-block;
    position: relative;
    width: 90%;
    canvas {
        position: relative;
    }
}

.tableRow {
    display: flex;
    flex-wrap: wrap;
    line-height: calc(2.25rem + 2px);
}

.helpBtn {
    margin: 0 !important;
    padding: 0;
    border-radius: 13px;
    width: 26px;
    height: 26px;
    color: #427ded;
    border-color: #427ded;
    &::active,
    &::hover {
        background-color: #427ded;
        color: white;
        box-shadow: 0 0 0 0.2rem rgba(66, 125, 237, 0.5);
    }
    &::focus {
        box-shadow: 0 0 0 0.2rem rgba(66, 125, 237, 0.5);
    }
    .totalsHelpBtn {
        color: white;
        border-color: white;
    }
    .addVesselHelp {
        right: 60px;
        position: absolute;
    }
}

textarea {
    resize: none
}

@media screen {
    .noPrint {}
    .noScreen {
        display: none;
    }
    .tableSummarySpecial {
        background: gray;
        color: white;
    }
    .tableSummary td:nth-child(1) {
        background: gray;
        color: white;
    }
}

@media print {
    .plsdonotprintthisforfsake {
        display: none !important;
        z-index: 1;
    }
    .pagebreak {
        page-break-before: always;
    }
    /* page-break-after works, as well */
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
    }
    tr {
        page-break-inside: avoid;
        page-break-after: auto;
        //ToDO: Change this so page break soccur at block level instead of row level
    }
    .mb-3, .my-3 {
        margin-bottom: 0;
    }
    .card-body {
        border: 1px solid #ddd;
        padding:0;
    }
    
    .card-header {
        border: 1px solid #ddd;
    }
    .table-responsive {
        width: 100%;
        margin-left: 0;
        padding: 0;
        font-size: 10pt;
        overflow-x: hidden;
        page-break-inside: auto;
    }
    .table-bordered-print {
        border: 1px solid #dee2e6;
        th {
            border: 1px solid #ddd;
        }
        td {
            border: 1px solid #ddd;
        }
    }
    .form-group {
        margin-bottom:0;
    }
    .btn {
        display: none;
    }
    .form-control {
        border: 0;
        padding: 0;
        overflow: visible;
    }
    .form-control-sm {
        border: 0;
        padding: 0;
        overflow: visible;
    }
    .btn-outline-primary {
        border: 0;
        padding: 0;
        overflow: visible;
        width: auto;
    }
    #weatherOverview{
        width: 220mm !important
    }
    .dropdown-toggle {
        border: 0;
        padding: 0;
        overflow: visible;
        width: auto;
    }
    .commentButton {
        color: black;
    }
    td.comment {
        width: 150px;
    }
    .dropdown-toggle::after {
        display: none !important;
    }
    .col-print-1 {
        width: 8%;
        float: left;
    }
    .col-print-2 {
        width: 16%;
        float: left;
    }
    .col-print-3 {
        width: 25%;
        float: left;
    }
    .col-print-4 {
        width: 33%;
        float: left;
    }
    .col-print-5 {
        width: 42%;
        float: left;
    }
    .col-print-6 {
        width: 50%;
        float: left;
    }
    .col-print-7 {
        width: 58%;
        float: left;
    }
    .col-print-8 {
        width: 66%;
        float: left;
    }
    .col-print-9 {
        width: 75%;
        float: left;
    }
    .col-print-10 {
        width: 83%;
        float: left;
    }
    .col-print-11 {
        width: 92%;
        float: left;
    }
    .col-print-12 {
        width: 100%;
        float: left;
    }
    .print-block {
        display: block
    }
}

@media only print and (orientation: landscape) {
    .singlepage-print {
        display: block;
        page-break-before: always;
    }
    agm-map {
        height: 480px;
        width: 297mm;
        display: inline-flex;
    }
}

@media (orientation: portrait) {
    .singlepage-print-port {
        display: block;
        page-break-before: always;
    }
}