<div [@routerTransition]>
    <app-page-header [heading]="'Fleet availability'" [icon]="'fa-ship'"></app-page-header>
    <div class="row">
        <div class="col-lg-8" >
            <canvas id="canvas">{{myChart}}</canvas>
        </div>
    </div>
    <div class="card-body table-responsive">
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th> </th>
                <th>01</th>
                <th>02</th>
                <th>03</th>
                <th>04</th>
                <th>05</th>
                <th>06</th>
                <th>07</th>
                <th>08</th>
                <th>09</th>
                <th>10</th>
                <th>11</th>
                <th>12</th>
                <th>13</th>
                <th>14</th>
                <th>15</th>
                <th>16</th>
                <th>17</th>
                <th>18</th>
                <th>19</th>
                <th>20</th>
                <th>21</th>
                <th>22</th>
                <th>23</th>
                <th>24</th>
                <th>25</th>
                <th>26</th>
                <th>27</th>
                <th>28</th>
            </tr>
            </thead>
            <tbody>
                <tr >
                    <td>Vessel 1</td>  
                    <td bgcolor="red"></td>
                    <td bgcolor="green"></td>
                    <td bgcolor="yellow"></td>
                    <td bgcolor="red"></td>
                    <td bgcolor="green"></td>
                    <td bgcolor="red"></td>
                    <td bgcolor="green"></td>
                    <td bgcolor="yellow"></td>
                    <td bgcolor="red"></td>
                    <td bgcolor="yellow"></td>
                    <td bgcolor="red"></td>
                    <td bgcolor="green"></td>
                    <td bgcolor="yellow"></td>
                    <td bgcolor="red"></td>
                    <td bgcolor="grey"></td>
                    <td bgcolor="green"></td>
                    <td bgcolor="yellow"></td>
                    <td bgcolor="red"></td>
                    <td bgcolor="green"></td>
                    <td bgcolor="red"></td>
                    <td bgcolor="green"></td>
                    <td bgcolor="yellow"></td>
                    <td bgcolor="grey"></td>
                    <td bgcolor="yellow"></td>
                    <td bgcolor="red"></td>
                    <td bgcolor="green"></td>
                    <td bgcolor="yellow"></td>
                    <td bgcolor="red"></td>
                </tr>
                <tr >
                    <td>Vessel 2</td>  
                    <td bgcolor="green"></td>  
                    <td bgcolor="yellow" ></td> 
                    <td bgcolor="red"></td>
                    <td bgcolor="green"></td>
                    <td bgcolor="yellow"></td>
                    <td bgcolor="green"></td>  
                    <td bgcolor="yellow" ></td> 
                    <td bgcolor="red"></td>
                    <td bgcolor="green"></td>
                    <td bgcolor="grey"></td>
                    <td bgcolor="green"></td>  
                    <td bgcolor="yellow" ></td> 
                    <td bgcolor="red"></td>
                    <td bgcolor="green"></td>
                    <td bgcolor="green"></td>  
                    <td bgcolor="yellow" ></td> 
                    <td bgcolor="red"></td>
                    <td bgcolor="green"></td>
                    <td bgcolor="yellow"></td>
                    <td bgcolor="green"></td>  
                    <td bgcolor="grey" ></td> 
                    <td bgcolor="red"></td>
                    <td bgcolor="green"></td>
                    <td bgcolor="red"></td>
                    <td bgcolor="green"></td>  
                    <td bgcolor="yellow" ></td> 
                    <td bgcolor="red"></td>
                    <td bgcolor="green"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
