table {
    font-size: 12px;

    td {
        padding: 0 8px;
        line-height: 48px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &.green {
            background-color: green;
        }

        &.red {
            background-color: red;
        }

        &.gray {
            background-color: gray;
        }

        &.yellow {
            background-color: yellow;
        }

        &.hideColor {
            background-color: transparent;
        }
    }
}

.btn:first-of-type {
    margin-right: 30px;
}

ngb-alert {
    position: fixed;
    bottom: 0px;
}

select {
    margin-bottom: 15px;
    height: 48px !important;
    width: auto;
    position: relative;
    flex: 1 1 auto;
}
