td.green{
    background-color: green;
}
td.red{
    background-color: red;
}
td.gray{
    background-color: gray;
}
td.yellow{
    background-color: yellow;
}
td.hideColor {
    background-color: transparent;
}
