table {
    font-size: 12px;

    td {
        padding: 0 8px;
        line-height: 48px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &.green {
            background-color: green;
        }

        &.red {
            background-color: red;
        }

        &.gray {
            background-color: gray;
        }

        &.yellow {
            background-color: yellow;
        }

        &.hideColor {
            background-color: transparent;
        }
    }
}

.btn:first-of-type {
    margin-right: 25px;
}

ngb-alert {
    position: fixed;
    bottom: 0px;
}

.monthSelector {
    margin-bottom: 15px;
    height: 48px !important;
    width: auto;
    position: relative;
    flex: 1 1 auto;
    margin-right: 25px;
}

.updateSailDay {
    width: 100%;
}

.modal-body {
    select:first-of-type {
        margin-bottom: 10px;
    }
}

.modal-footer {
    display: block;
    justify-content: unset;
    line-height: 38px;

    button {
        float: right;
        margin: 0;
    }
}
