<div [@routerTransition]>
    <app-page-header [heading]="'Fleet availability'" [icon]="'fa-ship'"></app-page-header>
    <div class="row">
        <div class="col-lg-8">
            <canvas id="canvas">{{myChart}}</canvas>
        </div>
    </div>
    <div class="card-body table-responsive" *ngIf="loaded">
        <select (change)="setMonth($event.target.value)">
            <option *ngFor="let date of availableMonths" [value]="date" [selected]="selectedMonth==date">{{date}}</option>
        </select>
        <table class="table table-hover table-responsive table-bordered">
            <thead>
                <tr>
                    <th class="smallPadding">Date \ Vessel</th>
                    <ng-container *ngFor="let vessel of turbineWarrenty.fullFleet;let ind = index">
                        <th class="smallPadding">
                            <span>{{changeToNicename(vessel) | titlecase}}</span>
                        </th>
                    </ng-container>
                    <th class="smallPadding">
                        <span>Total weather days</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let date of turbineWarrenty.Dates;let ind = index">
                    <tr *ngIf="checkDateRange(date)">
                        <td class="smallPadding">{{MatlabDateToJSDate(date)}}</td>
                        <ng-container *ngFor="let vessel of turbineWarrenty.fullFleet;let i = index">
                            <td [class.green]="turbineWarrenty.sailMatrix[i][ind]==1" [class.red]="turbineWarrenty.sailMatrix[i][ind]==0" [class.yellow]="turbineWarrenty.sailMatrix[i][ind]==0.5" [class.gray]="turbineWarrenty.sailMatrix[i][ind]=='_NaN_'" [class.hideColor]="hideText==false">
                                <span *ngIf="hideText==false && !edit">{{getSailDay(turbineWarrenty.sailMatrix[i][ind])}}</span>
                                <select *ngIf="edit" (change)="updateSailDay(turbineWarrenty.sailMatrix, i, ind, $event.target.value)">
                                    <option value="_NaN_" *ngIf="turbineWarrenty.sailMatrix[i][ind]=='_NaN_'" selected>-</option>
                                    <option value="0" [selected]="turbineWarrenty.sailMatrix[i][ind]==0">0</option>
                                    <option value="0.5" [selected]="turbineWarrenty.sailMatrix[i][ind]==0.5">0.5</option>
                                    <option value="1" [selected]="turbineWarrenty.sailMatrix[i][ind]==1">1</option>
                                </select>
                            </td>
                            {{addDateSailDay(turbineWarrenty.sailMatrix[i][ind], i)}}
                        </ng-container>
                        <td class="smallPadding">{{getDateWeatherDays()}}</td>
                    </tr>
                </ng-container>
                <tr>
                    <td class="smallPadding">Total weather days</td>
                    <td class="smallPadding" *ngFor="let vessel of turbineWarrenty.fullFleet;let ind = index;">{{getTotalMissingDays(ind)}}</td>
                    <td class="smallPadding">{{getTotalWeatherDays()}}</td>
                </tr>
            </tbody>
        </table>
        <button (click)="hideText=!hideText" [disabled]="edit">Toggle color</button>
        <button (click)="editData()" *ngIf="!edit">Edit</button>
        <button (click)="saveData()" *ngIf="edit">Save</button>
    </div>
</div>
