$topnav-background-color: #032e5a;
:host {
    .navbar {
        background-color: $topnav-background-color;
        .navbar-brand {
            color: #fff;
        }
        .nav-item > a {
            color: #ddd;
            &:hover {
                color: #fff;
            }
        }
    }
}

.alertMessage{
    margin-right: 0;
    height: 2.5rem;
    margin-bottom:0;
    padding: 0.4rem 1.25rem;
}
