<h2 class="text-muted">Scatterplot Impact:<small> {{vesselObject.dateNormalMin}} - {{vesselObject.dateNormalMax}} </small></h2>
<div>
    <ng-template #t let-date="date" let-focused="focused">
        <span class="custom-day"
                [class.focused]="focused"
                [class.range]="isRange(date)"
                [class.faded]="isHovered(date) || isInside(date)"
                [class.disable-day]="disabled"
                [class.text-muted]="disabled"
                (mouseenter)="hoveredDate = date"
                (mouseleave)="hoveredDate = null">
            {{ date.day }}
        </span>
    </ng-template>
</div>
<div class="col-lg-12">
    <form class="form-inline mb-3">
      <div class="form-group" (keyup.enter)="searchTransfersByNewSpecificDate()">
          <div class="input-group datepicker-input">
                <ng-template #content let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title">Select your date range</h4>
                        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" [maxDate]="maxDate">
                        </ngb-datepicker>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" (click)="closeModal()">Close</button>
                    </div>
                </ng-template>                   
                
              <div class="form-group">
                 <button class="btn btn-outline-primary btn-lg dateSelectorModal" (click)="openModal(content)">Date selector</button>
                 <!-- <select class="form-control boatSelectDropdown"  [(ngModel)]="comparisonValue" name="selectComparison" required>
                    <option class="dropdown-item" [ngValue]="{x: 'startTime', y: 'score', graph: 'scatter', xLabel: 'Time', yLabel: 'Transfer scores'}">Transferscores vs time</option>
                    <option class="dropdown-item" [ngValue]="{x: 'startTime', y: 'impactForceNmax', graph: 'scatter', xLabel: 'Time', yLabel: 'Peak impact force [kN]'}">Docking impacts vs time</option>
                    <option class="dropdown-item" [ngValue]="{x: 'name', y: test, graph: 'bar', xLabel: '', yLabel: ''}">Number of impacts</option>
                  </select> -->
                    <ng-multiselect-dropdown name="selectVessel" class="multiSelectDiv" [placeholder]="'Select vessel'"
                                 [data]="Vessels"
                                 [(ngModel)]="dropdownValues"
                                 [settings]="multiSelectSettings">
                    </ng-multiselect-dropdown>
                  <button class="btn btn-lg btn-primary submitBtnDate" (click)="searchTransfersByNewSpecificDate()" type="button" name="dpSubmit" >Submit</button>
              </div>
          </div>
      </div>
  </form>
</div>
<hr>
<div *ngIf="noPermissionForData == false; else noPermission">
    <div class="row" *ngIf="scatterDataArrayVessel[0]?.length == 0;">
        <div class="col-lg-8">
            <h3>There is not data available for the selected day and vessel.</h3>
        </div>
    </div>
    <div class="row">
        <!-- <div class="col-lg-8" >
            <canvas id="canvas">{{myChart}}</canvas>
        </div> -->
        <div class="col-lg-8" *ngFor="let transfer_Data of comparisonArray;let ind = index">
            <span >
                <h3>{{comparisonArray[ind].xLabel}} vs {{comparisonArray[ind].yLabel}}</h3>
            </span>
            <canvas id="canvas{{ind}}">{{myChart[ind]}}</canvas>
        </div>
    </div>
</div>

<ng-template #noPermission>
    <div class="divContainer">
        <h3>You are not allowed to view the vessel you requested</h3>
    </div>
</ng-template>
