<div [@routerTransition]>
    <app-page-header [heading]="'Tables'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-xl-12 col-lg-24">
           <div class="card mb-3">
                <div class="card-header">BotenOverzicht
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Boatname</th>
                            <th>Client</th>
                            <th>mmsi</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let kk of Repdata;let ind = index">
                                <td>{{ind + 1}}</td>  
                                <td>{{kk.nicename}}</td>  
                                <td>{{kk.client}}</td> 
                                <td>{{kk.mmsi}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
    </div>
</div>
