@import "../../../../../../styles/bootstrap/functions";
@import "../../../../../../styles/bootstrap/variables";
@import "../../../../../../styles/bootstrap/mixins/breakpoints";

.transitTable {
  tr {
    td {
      width: 50%;
    }
  }
}

.ctv-summary-statistics > * + * {
  margin-top: 1em;
}

.ctv-summary-statistics__cluster {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
  align-items: flex-start;

  // Content in cluster
  & > * {
    display: block;
    width: 100%;
  }

  & > table {
    display: inline-table;
  }

  @include media-breakpoint-up(lg) {
    & > * {
      width: calc(50% - 1rem);
    }
  }

  // Not using the Bootstrap XL breakpoint since it's not wide enough to display form elements with three columns.
  @media screen and (min-width: 1450px) {
    & > * {
      --third: calc(100% / 3);
      width: calc(var(--third) - 1rem);
    }
  }
}

.ctv-summary-table {
  tr > th {
    background-color: rgba(0, 159, 227, 0.25);
  }

  tr.extra-heading-row > th {
    background-color: rgba(178, 178, 178, 0.25);
    font-weight: normal;
    font-style: italic;
  }

  td.fillable {
    padding: 0.5em;
  }

  tr:first-child > th {
    background-color: unset;
  }

  h4 {
    margin: 0;
  }
}

.ctv-summary-widget {
  .ctv-summary-widget__cell {
    padding: 0.75rem;

    & > * + * {
      margin-top: 1em;
    }
  }

  .ctv-summary-widget__cell + .ctv-summary-widget__cell {
    border-top: solid $mo4Grey 1px;
  }

  .fillable-row {
    display: flex;

    label {
      font-style: italic;
      flex-grow: 1;
    }

    input[type="number"] {
      --third: calc(100% / 3);
      width: var(--third);
    }
  }

  .ctv-summary-widget__control-buttons {
    display: flex;
    gap: 1rem;
  }

  .ctv-summary-widget__cell--table {
    border-top: none;
    padding: 0;

    table {
      margin-bottom: 0;
    }

    .ctv-summary-widget__control-buttons {
      margin: 1rem;
    }
  }

  .hse-list {
    padding: 0;

    li + li {
      margin-top: 0.75rem;
    }

    li {
      display: flex;
      align-items: baseline;
      gap: 0.75rem;
    }

    li input[type="number"] {
      width: 4rem;
    }

    li input[type="checkbox"] {
      width: 2rem;
    }
  }
}

.tooltip-hint {
  cursor: help;
  text-decoration: underline rgba(178, 178, 178, 0.8) dotted;
  text-decoration-skip-ink: auto;
}

.flow-2 > * + * {
  margin-top: 0.5rem;
}

.m-unset {
  margin: unset;
}

.p-unset {
  padding: unset;
}

.p-2 {
  padding: 0.5rem;
}

.emphasize {
  font-weight: 700;
}

$base-color: #ddd;
$shine-color: #e8e8e8;

.skeleton-overlay {
  position: absolute;
  opacity: 1;

  background-color: $base-color;
  background-image: linear-gradient(
    90deg,
    $base-color,
    $shine-color,
    $base-color
  );
  background-position: -100%;
  background-size: 10rem;
  background-repeat: no-repeat;

  animation: shine 1.8s infinite linear;
  transition: opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1);

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  &--disabled {
    opacity: 0;
  }
}

@keyframes shine {
  to {
    background-position: 350%;
  }
}
