<div [@routerTransition]>
    <app-page-header [heading]="'Campaigns'" [icon]="'fa-ship'"></app-page-header>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Campaign name</th>
                <th *ngIf="tokenInfo.userPermission == 'admin'">Client</th>
                <th>Windfield</th>
                <th>Start date</th>
                <th>Stop date</th>
                <th>Fleet availability</th>
                <th *ngIf="tokenInfo.userPermission == 'admin'">Log</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let fleet of fleets;let ind = index">
                <td>{{ind + 1}}</td>
                <td>{{humanize(fleet.campaignName)}}</td>
                <td *ngIf="tokenInfo.userPermission == 'admin'">{{fleet.client}}</td>
                <td>{{humanize(fleet.windfield)}}</td>
                <td>{{MatlabDateToJSDate(fleet.startDate)}}</td>
                <td>{{MatlabDateToJSDate(fleet.stopDate)}}</td>
                <td><a class="btn rounded-btn" (click)="redirectFleetAvailability(fleet.campaignName, fleet.windfield, fleet.startDate)"> Fleet availability </a></td>
                <td><a class="btn rounded-btn" (click)="redirectFleetLog(fleet.campaignName, fleet.windfield, fleet.startDate)" *ngIf="tokenInfo.userPermission == 'admin'"> Log </a></td>
            </tr>
        </tbody>
    </table>
</div>
