@media print {
    .alert {
        background-color: white !important;
        color: darkgrey !important;
        border-color: grey;
        font-weight: bold;
    }
    ngb-tooltip-window { 
        display:none !important;
    }

    .tooltip{
        visibility: hidden;
    }
}