.placeholder {
    height: 32px;
    // display: flex !important;
    // flex-basis: auto;
    // background: #ffffff;
}

.printOnly {
    display: none;
}

@media print {
    @page {size: landscape}
    
    .hideOnPrint {
        display: none;
    }

    .printOnly{
        display: block;
        font-size: 14px;
    }
}