<div class="card" *ngIf="(selectedForecasts$ | async).length > 0">

    <h3>Select view</h3>
    <div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="general" [(ngModel)]="radioSelected" name="general" id="general" />
            <label style="width:100%" class="form-check-label" for="general">
                General
            </label>
            <hr>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="waves" [(ngModel)]="radioSelected" name="waves" id="waves"/>
            <label style="width:100%" class="form-check-label" for="waves">
                Waves
            </label>
            <hr>
        </div>
        
        <div class="form-check">
            <input class="form-check-input" type="radio" value="wind" [(ngModel)]="radioSelected" name="wind" id="wind"/>
            <label style="width:100%" class="form-check-label" for="wind">
                Wind
            </label>
            <hr>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="radio" value="current" [(ngModel)]="radioSelected" name="current" id="current"/>
            <label style="width:100%" class="form-check-label" for="current">
                Current
            </label>
            <hr>
        </div>
    </div>

    {{radioSelected}}

    <button *ngIf="radioSelected !== ''" type="submit" (click)="submitViewSelection(radioSelected)">Select view</button>
</div>
