<div class="card" *ngIf="(selectedForecasts$ | async).length > 0">

    <h3>Selected weather forecasts</h3>

    <div *ngFor="let selectedForecasts of (selectedForecasts$ | async)">
        <div class="form-check">
            <input class="form-check-input" type="radio" [value]="selectedForecasts" [(ngModel)]="radioSelected" [name]="selectedForecasts.weather_forecast_id" [id]="selectedForecasts.weather_forecast_id">
            <label style="width:100%" class="form-check-label" [for]="selectedForecasts.weather_forecast_id">
                    <span style="float: left;">{{selectedForecasts.weather_provider}}</span>
                    <span style="float: right;"> {{selectedForecasts.weather_forecast_time}}</span>
            </label>
            <hr>
        </div> 
    </div>
    <button *ngIf="radioSelected !== ''" type="submit" (click)="submitForecastSelection(radioSelected)">Select specific forecast</button>
</div>
