<ng-container *ngIf="selectedForecast$ | async as selectedForecast">
    <div *ngIf="selectedForecast.showPage" class="weather-forecast__wave-report card">
        <ng-container *ngIf="waveHeightInformation$ | async as waveHeightInformation">
            <div class="weather-forecast__wave-report__wave-direction-wrapper">
                <div class="">
                    <h2>Wave Graph overview</h2>
                </div>
                <div class="weather-forecast__wave-report__wave-direction">
                    <dl class="weather-forecast__wave-report__wave-direction__definition_list"
                        *ngFor="let info of waveHeightInfo">
                        <div class="weather-forecast__wave-report__wave-direction__list-item">
                            <dt>Forecast:</dt>
                            <dd>{{info.metaInfo.provider}} - {{info.metaInfo.timeStamp}}</dd>
                        </div>
                        <div class="weather-forecast__wave-report__wave-direction__list-item">
                            <dt>Selected time: </dt>
                            <dd>{{info.metaInfo.weatherForecast.dateTime.val}}</dd>
                        </div>
                        <div *ngIf="info.metaInfo.weatherForecast?.hs"
                            class="weather-forecast__wave-report__wave-direction__list-item">
                            <dt>Hs: </dt>
                            <dd>{{info.metaInfo.weatherForecast.hs.val}} {{info.metaInfo.weatherForecast.hs.units}}</dd>
                        </div>
                        <div class="weather-forecast__wave-report__wave-direction__list-item">
                            <dt>HMax: </dt>
                            <dd>{{info.metaInfo.weatherForecast.hMax.val}} {{info.metaInfo.weatherForecast.hMax.units}}
                            </dd>
                        </div>
                        <div class="weather-forecast__wave-report__wave-direction__list-item">
                            <dt>Tz: </dt>
                            <dd>{{info.metaInfo.weatherForecast.tz.val}} {{info.metaInfo.weatherForecast.tz.units}}
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>

            <div class="weather-forecast__wave-report__graph-information">
                <div class="weather-forecast__wave-report__graph-information__graph">

                    <div class="weather-forecast__wave-report__graph-information__selection">
                            class="btn btn-outline-primary mb-2 mr-2">Hs</button>
                        <button (click)="onSelectType('hMax')"
                            class="btn btn-outline-primary mb-2 mr-2">HMax</button>
                        <button (click)="onSelectType('tz')"
                            class="btn btn-outline-primary mb-2 mr-2">Tz</button>
                        <button (click)="onSelectType('hs')"
                    </div>

                    <plotly-plot className="plotly-canvas" [layout]='waveHeightInformation.plotLayout'
                        (hover)="onHover($event)" [data]="waveHeightInformation.data" [useResizeHandler]="true"
                        [config]="{displayModeBar: false}">
                    </plotly-plot>
                </div>

            </div>
        </ng-container>
    </div>
</ng-container>