<div [@routerTransition]>
    <h2 class="text-muted">Dashboard <small>Ship Overview</small></h2>
    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoomlvl" [mapTypeId]="mapTypeId" [streetViewControl]="streetViewControl">
        <agm-polyline [strokeColor]="'#ECAB7E'" [strokeWeight]="1.5" *ngFor="let ll of LLdata">
            <ng-container *ngFor="let geo of ll.geometry.coordinates; let i=index" >
                 <agm-polyline-point [latitude]="geo[1]" [longitude]="geo[0]" >
                 </agm-polyline-point>
            </ng-container>
        </agm-polyline>
        <ng-container *ngFor="let loc of Locdata; let i=index" >
             <agm-marker [latitude]="loc.LAT" [longitude]="loc.LON" >
             </agm-marker>
        </ng-container>
    </agm-map>
</div>