<div [@routerTransition]>
    <h2 id="DashboardHeader" class="text-muted">Dashboard <small>Vessel Overview</small></h2>
    <div class="divContainer" fxFlex="100">
        <agm-map #gm
            [latitude]="zoominfo.latitude"
            [longitude]="zoominfo.longitude"
            [zoom]="zoominfo.zoomlvl"
            [mapTypeId]="mapTypeId"
            [streetViewControl]="streetViewControl"
            [scrollwheel]='null'
            [scaleControl] ="true"
            [gestureHandling]="'cooperative'"
            (mapReady) = "buildGoogleMap($event)"
            [styles]="mapStyle"
            >
            <agm-marker-cluster [averageCenter]="true" [imagePath]="clustererImagePathVessels" [styles]=clusterStyleVessels [maxZoom]="clustererMaxZoom" [gridSize]="this.clustererGridSize">
                <ng-container *ngFor="let location of locationData; let i=index" >
                    <agm-marker [latitude]="location.LAT" [longitude]="location.LON" (mouseOver)="onMouseOver(infoWindow, gm)" [iconUrl]="location.markerIcon" [zIndex]=500>
                        <agm-info-window #infoWindow [disableAutoPan]="true">
                            <pre>
<strong style="font-size: 15px;">{{ location.vesselInformation[location.vesselInformation.length -1]}}</strong>
MMSI: {{location._id}}
Timestamp: {{location.TIMESTAMP.toString().replace('T', ' ') }} UTC<br>
<button class="btn btn-sm btn-default DPRButton" (click)="redirectDailyVesselReport(location._id)" type="button">Go to DPR</button>
                            </pre>
                        </agm-info-window>
                    </agm-marker>
                </ng-container>

                <ng-container *ngFor="let location of forecastLocationData; let i=index" >
                    <agm-marker [latitude]="location.lat" [longitude]="location.lon" (mouseOver)="onMouseOver(infoWindow, gm)" [iconUrl]="mapService.iconForecastLocation" [zIndex]=500>
                        <agm-info-window #infoWindow [disableAutoPan]="true">
<pre>
Project name: {{location.nicename}}
Project lat:  {{location.lat}}
Project lon:  {{location.lon}}

<button class="btn btn-sm btn-default" (click)="redirectToForecasting(location.id)" type="button">Go to Forecasting</button></pre>
                        </agm-info-window>
                    </agm-marker>
                </ng-container>

                
            </agm-marker-cluster >
        </agm-map>
        <div id="mapLegendID" class="mapLegend">
            <h2>
                Legend
            </h2>
        </div>
    </div>
</div>
<br>


<!-- Currently, children are only used for one-way binding. When filled with content. Move to content above. -->
<div *ngIf="tokenInfo.userPermission == userType.Admin">
    <app-admin [tokenInfo]="tokenInfo" (locationData)="setLocationData($event)" (zoominfo)="setZoominfo($event)"></app-admin>
</div>
<div *ngIf="tokenInfo.userPermission == userType.LogisticsSpecialist">
    <app-logistics-specialist [tokenInfo]="tokenInfo" (locationData)="setLocationData($event)" (zoominfo)="setZoominfo($event)"></app-logistics-specialist>
</div>
<div *ngIf="tokenInfo.userPermission == userType.MarineController">
    <app-marine-controller [tokenInfo]="tokenInfo" (locationData)="setLocationData($event)"  (zoominfo)="setZoominfo($event)"></app-marine-controller>
</div>
<div *ngIf="tokenInfo.userPermission == userType.Vesselmaster">
    <app-vessel-master [tokenInfo]="tokenInfo" (locationData)="setLocationData($event)" (zoominfo)="setZoominfo($event)"></app-vessel-master>
</div>
