@import '../../../reports.component.scss';

.col-lg-3{
    margin-top: auto;
    margin-bottom: auto;
}
.col-lg-8{
    position: relative;
    height: 400px;
}

.graphExplanation {
    border: 1px #222 solid;
}