<div *ngIf="true || showContent" class="row plsdonotprintthisforfsake">
  <div class="col-lg-5">
    <app-forecast-ops-picker></app-forecast-ops-picker>
    <hr>
    <app-heading-picker [(heading)]="selectedHeading">
      <h5>Heading picker</h5>
    </app-heading-picker>
    <hr>
    <app-forecast-limits-picker [(limits)]="limits">
    </app-forecast-limits-picker>
  </div>
  <div class="col-lg-6">
    <app-forecast-workability [response]="response" [limits]="limits" [heading]="90"></app-forecast-workability>
  </div>
</div>