<div *ngIf="showContent; else loading" class="row plsdonotprintthisforfsake">
  <div class="col-lg-5">
    <app-forecast-ops-picker [operations]="operations" [(selectedOperation)]="selectedOperation">
    </app-forecast-ops-picker>
    <hr>
    <app-heading-picker [(heading)]="selectedHeading">
      <h5>Heading picker</h5>
    </app-heading-picker>
    <hr>
    <app-forecast-limits-picker [(limits)]="limits">
    </app-forecast-limits-picker>
  </div>
  <div class="col-lg-6">
    <app-forecast-workability [response]="response" [limits]="limits" [heading]="selectedHeading"></app-forecast-workability>
  </div>
</div>

<ng-template #loading>
  <app-ng-loading></app-ng-loading>
</ng-template>