.weather-forecast-day-report{
    padding: 20px;
    &__title{
    display: flex;
    justify-content: center;
    }

    &__day-summary{
        display: flex;
        align-items: center;
        margin: 20px 0;
        ul {
            list-style-type: none;
        }
    }

    &__list-item{
        display: flex;
        justify-content: space-between;
    }

    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__button-wrapper{
        display: flex;
        flex-direction: row;
    }

    &__button{
        cursor: pointer;
        padding: 0;
        border: 0;
    }
}