@import '../../../../../reports.component.scss';


.custom-table{
    margin-top: 10px;
    margin-bottom: 15px;
}

table tr td{
    padding-top: 0.25rem;
    padding-left: 0.45rem;
    padding-right: 0.45rem;
}

.graph-container{
    height: 250px;
}

.col-lg-8{
    height:350px;
}

app-fuel-average-overview-graph{
    width: 100%;
}

.chartTitle {
    font-family: 'Helvetica';
    font-size: 20px;
    color : #666;
    font-weight: bold;
    text-align: center;
}

.chartVesselName{
    font-size: 17px;
}

.auto-height{
    height: auto;
}

.utilityGraphStyling {
    padding-top: 15px;
    padding-bottom: 15px;
}

@media print {
    .divBreak {
        position: relative;
        page-break-before: always; 
        margin-top: 20mm;
    }
    canvas {
        width: 270mm !important;
        height: 225px;
    }
}
