.wavelimit-input{
    width: 45px;
}

.custom-table{
    margin-top: 10px;
    margin-bottom: 15px;
}

table tr td{
    padding-top: 0.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

