@import '../../../reports.component.scss';
@import '../../longterm.component.scss';

// .headerContainer {
//   position: fixed;
//   top: 10px;
//   width: 100%;
// }

.space-left {
  margin-left: 10px;
}

.printheader {
  display: block;
}

@media screen {
  #onlyOnPrintContainer {
    display: none;
  }
}

