.divContainer{
    width:100%;
    min-height: 200px;
}
.leftdiv{
    width: 49%;
    display:inline-block;
    margin-right:.5%;
}
.rightdiv{
    width:49%;
    display:inline-block;
    margin-left:.5%;
}

.dateSelectorModal{
    height: 48px !important;
    margin-right:20px;
}

.multiselect-dropdown{
    width:auto;
}

.keyTD{
    background: gray;
    color: white;
}
.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}
.custom-day.focused {
    background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
}
.custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
}

.disable-day{
    background-color: white;
    color: rgb(225, 225, 225) !important;
 }
 
 .multiSelectDiv {
    width: 35%;
    min-width: 300px;
    margin-right:20px;
}

.text-muted{
    padding-left: 10px;
}

.helpBtn {
    margin: 0 !important;
    padding: 0;
    border-radius: 13px;
    width: 26px;
    height: 26px;
    color: #427ded;
    border-color: #427ded;
    float: right;

    &:active, &:hover {
        background-color: #427ded;
        color: white;
        box-shadow: 0 0 0 0.2rem rgba(66, 125, 237, 0.5);
    }

    &:focus {
        box-shadow: 0 0 0 0.2rem rgba(66, 125, 237, 0.5);
    }

    &.totalsHelpBtn {
        color: white;
        border-color: white;
    }

    // &.addVesselHelp {
    //     right: 60px;
    //     position: absolute;
    // }
}
