.weather-forecast{
    &__wrapper{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    &__graph-templates{
        width: 85%;
    }

    &__form{
        width: 15%;
        padding: 20px;
        gap: 20px;
        &__choose-forecasts {
            display: flex;
            justify-content: center;
        }
    }


}
