<table *ngIf="hasSelectedOperation" class="table table-hover table-striped">
  <thead>
    <tr>
      <th>
        Selected project:
      </th>
      <th colspan="2">
        <select id="selectOperation" [(ngModel)]="selectedProjectId" (change)="onOpsChange()"
        class="input form-control form-control-md">
          <option [ngValue]="op.id" *ngFor="let op of projects">{{op.name}}</option>
        </select>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Latitude</td>
      <td colspan="2">{{gps.formatLat(selectedProject?.latitude)}}</td>
    </tr>
    <tr>
      <td>Longitude</td>
      <td colspan="2">{{gps.formatLng(selectedProject?.longitude)}}</td>
    </tr>
    <tr>
      <td><div [ngbTooltip]="helpProjectStart">Start</div></td>
      <td colspan="2">{{projectStartDate || 'N/a'}}</td>
    </tr>
    <tr>
      <td><div [ngbTooltip]="helpProjectStop">Stop</div></td>
      <td colspan="2">{{projectStopDate || 'N/a'}}</td>
    </tr>
    
    <tr><td colspan="3" class="empty-row"></td></tr>

    <tr>
      <td><div [ngbTooltip]="helpDate">Operation date</div></td>
      <td colspan="2">
        <div class="flex-container">
          <input class="form-control form-control-md" ngbDatepicker #dp="ngbDatepicker" [(ngModel)]="date"
            [minDate]="minForecastDate" [displayMonths]='1' (ngModelChange)="onTimeChange()"
            [maxDate]="maxForecastDate" >
          <button id="datePickBtn" class="input-group-addon date-picker ng-touched"
            (click)="dp.toggle()" type="button">
            <span class="fa fa-calendar"></span>
          </button>
        </div>
      </td>
    </tr>
    <tr>
      <td><div [ngbTooltip]="helpTime">Start time</div></td>
      <td colspan="2">
        <div class="flex-container">
          <input class="form-control form-control-md" (change)="onTimeChange()" [(ngModel)]="startTimeInput.hour"
            type="number" min="0" max="24" placeholder="HH">
          <input class="form-control form-control-md" (change)="onTimeChange()" [(ngModel)]="startTimeInput.mns"
            type="number" min="0" max="59" step="5" placeholder="MM">
        </div>
      </td>
    </tr>
    <tr>
      <td><div [ngbTooltip]="helpTime">Stop time</div></td>
      <td colspan="2">
        <div class="flex-container">
          <input class="form-control form-control-md" (change)="onTimeChange()" [(ngModel)]="stopTimeInput.hour"
            type="number" min="0" max="24" placeholder="HH">
          <input class="form-control form-control-md" (change)="onTimeChange()" [(ngModel)]="stopTimeInput.mns"
            type="number" min="0" max="59" step="5" placeholder="MM">
        </div>
      </td>
    </tr>
    <tr>
      <td>Operational duration</td>
      <td colspan="2">
        {{formattedDuration || 'N/a'}}
      </td>
    </tr>

    <tr><td colspan="3" class="empty-row"></td></tr>

    <tr>
      <td><div [ngbTooltip]="helpHeading">Operational heading</div></td>
      <td colspan="2">
        <div class="input-group">
          <input type="number" class="form-control form-control-md" [(ngModel)]="heading" [step]="22.5"
          type="number" [min]="0" [max]="360" placeholder="degrees" (change)="onHeadingChange()">
          <div class="input-group-append">
              <span class="input-group-text"> deg </span>
          </div>
        </div>
      </td>
    </tr>

    <tr colspan="3" [ngbTooltip]="helpLimits">
      <th>Limit type</th>
      <th>DOF</th>
      <th>Value</th>
    </tr>
    <tr *ngFor='let limit of limits; let _index = index' class='sep-row'>
      <td class="tight">
        <select class="form-control form-control-md" [(ngModel)]="limit.type">
          <option value='Acc'>Acceleration</option>
          <option value='Vel'>Velocity</option>
          <option value='Disp'>Displacement</option>
        </select>
      </td>
      <td class="tight">
        <select class="form-control form-control-md" [(ngModel)]="limit.dof">
          <option value="Surge">Surge</option>
          <option value="Sway">Sway</option>
          <option value="Heave">Heave</option>
          <option value="Roll">Roll</option>
          <option value="Pitch">Pitch</option>
          <option value="Yaw">Yaw</option>
        </select>
      </td>
      <td class="tight">
        <!-- <input class="form-control form-control-md" type="number" step=0.1 [(ngModel)]="limit.value"> -->
        <div class="input-group">
          <input class="form-control form-control-md" type="number" step=0.1 [(ngModel)]="limit.value" [min]="0">
          <div class="input-group-append tight">
              <span class="input-group-text">{{limit.unit}}</span>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan=3 *ngIf="permission.forecastChangeLimits">
        <button class="btn btn-sm btn-danger float-right" [disabled]="!(limits?.length)"
          (click)="onRemoveLimitsLine();" type="button">
          Remove last
        </button>
        <button class="btn btn-sm btn-success float-right"
          (click)="onAddLimitsLine();" type="button">
          Add line
        </button>
      </td>
    </tr>
    <tr *ngIf="settingsChanged">
      <td colspan=3>
        <button class="btn btn-md btn-primary float-right" (click)="onConfirm();" type="button">
          Update config
        </button>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #helpStart>
  Start date of project.
</ng-template>
<ng-template #helpStop>
  Stop date of project.
</ng-template>
<ng-template #helpDate>
  The date on which the operation of interest is to take place. Use the start and
  stop time below to further specify the operational time frame.
</ng-template>
<ng-template #helpTime>
  Specify the time in which the operation takes place.
</ng-template>
<ng-template #helpHeading>
  Heading of the vessel in degrees during operation
</ng-template>
<ng-template #helpLimits>
  Select limits to compute workability, by specifying the Limit motion type, the 
  degree of freedom which you are interested in, and finally the limit value.
</ng-template>