.div-spacing {
  height: 50px;
}

.flex-container {
  display: inline-flex;
}

.max-card{
  max-width: 780px;
}

.font-sm {
  font-size: 14px;
}

.center {
  align-self: center;
}

.hover-parent{
  overflow: hidden;
}

.flex-box {
  display:flex;
  justify-content:space-between;
}


.helpBtn {
  margin: 0 !important;
  padding: 0;
  border-radius: 13px;
  width: 26px;
  height: 26px;
  color: white;
  border-color: white;
  background-color: #009fe3;
  &::active,
  &::hover {
      background-color: white;
      color: white;
      box-shadow: 0 0 0 0.2rem rgba(66, 125, 237, 0.5);
  }
  &::focus {
      box-shadow: 0 0 0 0.2rem rgba(66, 125, 237, 0.5);
  }
  .totalsHelpBtn {
      color: white;
      border-color: white;
  }
  .addVesselHelp {
      right: 60px;
      position: absolute;
  }
}
