<table *ngIf="hasSelectedOperation" class="table table-hover table-striped">
  <thead>
    <tr>
      <th>
        Selected operation:
      </th>
      <th>
        <select #selectOperation [(ngModel)]="selectedOperation" (change)="onChange()" class="input form-control form-control-md">
          <option [ngValue]="op" *ngFor="let op of operations">{{op.name}}</option>
        </select>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Latitude</td>
      <td>{{gps.formatLat(selectedOperation.latitude)}}</td>
    </tr>
    <tr>
      <td>Longitude</td>
      <td>{{gps.formatLng(selectedOperation?.longitude)}}</td>
    </tr>
    <tr>
      <td>Start</td>
      <td>{{startTime}}</td>
    </tr>
    <tr>
      <td>Stop</td>
      <td>{{stopTime}}</td>
    </tr>
  </tbody>
</table>