.layout--classic {
  margin-top: 56px;
  margin-left: 235px;
  padding: 15px;
  position: relative;
}

@media screen and (max-width: 992px) {
  .layout--classic {
    margin-left: 0px !important;
  }
}

@media print {
  .layout--classic {
    margin-left: 0px !important;
  }
}

// Question: What is this doing here?
.input-group-text {
  min-width: 50px;
}

.layout {
  position: relative;
  margin-left: var(--size-20);
  overflow-x: auto;
}

@media print {
  .layout {
    margin-left: 0;
  }
}
