<div #portalSidebar class="portal-sidebar" [style]="injectedStyle"
  [ngClass]="{ 'portal-sidebar--hide': !isExpanded, 'portal-sidebar--measure': isMeasuring }">
  <div class="portal-sidebar__groups">

    <div class="portal-sidebar__icons">
      <div class="portal-sidebar__logo">
        <app-portal-logo [sidebarIsExpanded]="isExpanded"></app-portal-logo>
      </div>
      <button class="portal-sidebar__icon" (click)="toggleExpanded()">
        <i class="fa fa-fw fa-bars"></i>
      </button>
    </div>
    <div class="portal-sidebar__icons">
      <a (click)="handleClickItem()" class="portal-sidebar__icon" routerLink="/dashboard"
        [routerLinkActive]="['router-link-active']">
        <i class="fa fa-fw fa-dashboard"></i>
        <div class="portal-sidebar__label">
          {{ 'Dashboard' | translate }}
        </div>
      </a>
      <a (click)="handleClickItem()" class="portal-sidebar__icon" routerLink="/reports"
        [routerLinkActive]="['router-link-active']">
        <i class="fa fa-fw fa-table"></i>
        <div class="portal-sidebar__label">
          {{ 'Analytics' | translate }}
        </div>
      </a>
      <a (click)="handleClickItem()" class="portal-sidebar__icon" routerLink="/forecast"
        [routerLinkActive]="['router-link-active']">
        <i class="fa fa-fw fa-rss"></i>
        <div class="portal-sidebar__label">
          {{ 'Forecast' | translate }}
        </div>
      </a>
      <a (click)="handleClickItem()" class="portal-sidebar__icon" routerLink="/campaigns"
        [routerLinkActive]="['router-link-active']">
        <i class="fa fa-fw fa-ship"></i>
        <div class="portal-sidebar__label">
          {{ 'Campaigns' | translate }}
        </div>
      </a>
      <a (click)="handleClickItem()" class="portal-sidebar__icon" routerLink="/users"
        [routerLinkActive]="['router-link-active']">
        <i class="fa fa-fw fa-users"></i>
        <div class="portal-sidebar__label">
          {{ 'Users' | translate }}
        </div>
      </a>
      <a (click)="handleClickItem()" class="portal-sidebar__icon" routerLink="/signup"
        [routerLinkActive]="['router-link-active']">
        <i class="fa fa-fw fa-user-plus"></i>
        <div class="portal-sidebar__label">
          {{ 'Create new user' | translate }}
        </div>
      </a>
      <a (click)="handleClickItem()" class="portal-sidebar__icon" routerLink="/clients"
        [routerLinkActive]="['router-link-active']">
        <i class="fa fa-fw fa-building"></i>
        <div class="portal-sidebar__label">
          {{ 'Client overview' | translate }}
        </div>
      </a>
    </div>
    <div class="portal-sidebar__spacer"></div>
    <div class="portal-sidebar__icons">
      <button (click)="handleClickFeedback()" class="portal-sidebar__icon">
        <i class="fa fa-fw fa-comment"></i>
        <div class="portal-sidebar__label">
          Give feedback
        </div>
      </button>
      <a (click)="handleClickItem()" class="portal-sidebar__icon" routerLink="/user-settings"
        [routerLinkActive]="['router-link-active']">
        <i class="fa fa-fw fa-cog"></i>
        <div class="portal-sidebar__label">
          {{ 'Settings' | translate }}
        </div>
      </a>
      <a (click)="handleClickItem()" class="portal-sidebar__icon" routerLink="/login"
        [routerLinkActive]="['router-link-active']">
        <i class="fa fa-fw fa-power-off"></i>
        <div class="portal-sidebar__label">
          {{ 'Log out' | translate }}
        </div>
      </a>
    </div>
  </div>
</div>
