<div #portalSidebar class="portal-sidebar" [style]="injectedStyle"
  [ngClass]="{ 'portal-sidebar--hide': !isExpanded, 'portal-sidebar--measure': isMeasuring }">
  <div class="portal-sidebar__groups">

    <div class="portal-sidebar__icons">
      <div class="portal-sidebar__logo">
        <app-portal-logo [sidebarIsExpanded]="isExpanded"></app-portal-logo>
      </div>
      <button class="portal-sidebar__icon" (click)="toggleExpanded()">
        <i class="fa fa-fw fa-bars"></i>
      </button>
    </div>
    <div *ngFor="let group of sidebarGroups"
      [ngClass]="{ 'portal-sidebar__icons': (group.type === sidebarContentType.Group), 'portal-sidebar__spacer': (group.type === sidebarContentType.Spacer) }">
      <ng-template ngFor let-button [ngForOf]="group.contents">
        <a *ngIf="checkPermission(button.requiredPermissionsOr) && button.destination !== '#feedback'"
          (click)="handleClickItem()" [routerLink]="button.destination" [routerLinkActive]="['router-link-active']"
          class="portal-sidebar__icon">
          <i class="fa fa-fw" [ngClass]="[button.icon]"></i>
          <div class="portal-sidebar__label">
            {{ button.label | translate }}
          </div>
        </a>
        <a *ngIf="checkPermission(button.requiredPermissionsOr) && button.destination === '#feedback'"
          (click)="handleClickFeedback()" class="portal-sidebar__icon">
          <i class="fa fa-fw" [ngClass]="[button.icon]"></i>
          <div class="portal-sidebar__label">
            {{ button.label | translate }}
          </div>
        </a>
      </ng-template>
    </div>
  </div>
</div>
<div (click)="handleClickItem()" [ngClass]="{'portal-sidebar__overlay--hide': !isExpanded}"
  class="portal-sidebar__overlay"></div>
<app-header *ngIf="!this.isMeasuring" #dirtyHackHeader style="display: none;"></app-header>
