agm-map {
    height: 400px;
  }

  .divContainer{
    width:100%;
    min-height: 200px;
}
.leftdiv{
    width: 49%;
    display:inline-block;
    margin-right:.5%;
}
.rightdiv{
    width:49%;
    display:inline-block;
    margin-left:.5%;
}