.rounded-btn {
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color: rgb(255, 255, 255) !important;
    background: rgba(0, 159, 227, 1);
    border: 2px solid rgba(66, 125, 237, 0.919);
    font-size: 14px;
    line-height: 25px;
    padding: 0 5px;

    &:hover,
    &:focus,
    &:active,
    &:visited {
        color: rgba(0, 159, 227, 1);
        border: 2px solid rgba(66, 125, 237, 1);
        outline: none;
    }
}

a {
    color:rgb(255,255,255);
}

.card-header { 

    .tableTitle {
        float: left;
        line-height: 38px;
    }

    .search {
        float: right;
        max-width: 300px;
    }
}

// .table-striped tbody tr:nth-of-type(odd) {
//     background-color: rgba(0, 0, 0, 0.05);
// }

.clickable {
    cursor: pointer;
}

i.hidden {
    visibility: hidden;
}
