<div class="col-lg-4">
    Dear admin, this page is still under development
    <table class="table table-responsive graphStats">
            <tr>
                <td>Number of active users</td>
                <td>Time since last TWA update</td>
                <td>Last AIS update time</td>
                <td>Remaining weather days</td>
            </tr>
            <tr>
                <td>{{numberActiveUsers}}</td>
                <td>Remaining weather days</td>
                <td>Remaining weather days</td>
                <td>Remaining weather days</td>
            </tr>
    </table>
</div>