<div class="col-lg-12">
    Dear admin, this page is still under development
    <table class="table table-responsive graphStats">
            <tr>
                <td>Number of active users</td>
                <td>Time since last TWA update</td>
                <td>Time since last AIS update</td>
                <td>Number of active accounts</td>
            </tr>
            <tr>
                <td>{{numberActiveSessions}}</td>
                <td>{{last_TWA_Update}}</td>
                <td>{{last_AIS_update}} minute(s)</td>
                <td>{{num_active_accounts}}</td>
            </tr>
    </table>
</div>
