@media print {
  .alert {
    background-color: white !important;
    color: darkgrey !important;
    border-color: grey;
    font-weight: bold;
  }
  
  .form-number {
    min-width: 60px;
  }
}
