
<h2>Selected project id: {{project_id}}</h2>

<div class="row">
  <div class="col-md-6">
    <div class='card mb-3'>
      <div class='card-header'>
        Project description
      </div>
      <div class='card-body table-responsive'>
        <table class='table table-hover table-striped'>
          <tbody class='sep-row'>
            <tr>
              <td>Project name</td>
              <td>{{project.name}}</td>
            </tr>
            <tr>
              <td>Vessel name</td>
              <td>{{project.client_id}}</td>
            </tr>
            <tr>
              <td>Draft AP</td>
              <td>{{roundNumber(project.latitude)}}</td>
            </tr>
            <tr>
              <td>Draft FP</td>
              <td>{{roundNumber(project.longitude)}}</td>
            </tr>
            <tr>
              <td>Water depth</td>
              <td><input [(ngModel)]="project.water_depth"  type="number"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class='card mb-3'>
      <div class='card-header'>
        Vessel 3D plans
      </div>
      <div class='card-body table-responsive'>
        HERE WILL BE UPLOAD
        <div class="drop-container" ngxFileDrop [options]="uploadOptions" (uploadOutput)="onUploadOutput($event)"
          [ngClass]="{ 'is-drop-over': dragOver }">
          <h1>Drag &amp; Drop</h1>
        </div>

        <label class="upload-button">
          <input type="file" ngxFileSelect [options]="uploadOptions" (uploadOutput)="onUploadOutput($event)"
            [uploadInput]="uploadInput" multiple>
          or choose file(s)
        </label>

        <button type="button" class="start-upload-btn" (click)="startUpload()">
          Start Upload
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class='card mb-3'>
      <div class='card-header'>
        Explanation
      </div>
      <div class='card-body table-responsive'>

      </div>
    </div>
  </div>
</div>


<ng-template #helpLength>
  Length of the vessel
</ng-template>
<ng-template #helpBreadth>
  Breadth/width of the vessel
</ng-template>
<ng-template #helpDraft>
  Distance between waterline and keel
</ng-template>
<ng-template #helpGM>
  Metacentric height, which is the distance between the center of gravity and the vessels metacentere. 
  A larger height indicates greater stability.
</ng-template>
<ng-template #helpLongitude>
  ?
</ng-template>
<ng-template #helpX>
  Distance from the aft/rear of the vessel to the point of interest. This can never be nagative or greater than the vessel length.
</ng-template>
<ng-template #helpY>
  Distance from the roll axis to the point of interest. Locations on port side are negative.
</ng-template>
<ng-template #helpZ>
  Distance from the keel to the point of interest.
</ng-template>