<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" (click)="this.eventService.closeLatestAgmInfoWindow();" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
        </a>
        <a [routerLink]="['/vesselsandreports']" [routerLinkActive]="['router-link-active']" (click)="this.eventService.closeLatestAgmInfoWindow();" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;{{ 'Vessels and Reports' | translate }}
        </a>
        <a [routerLink]="['/campaigns']" [routerLinkActive]="['router-link-active']" (click)="this.eventService.closeLatestAgmInfoWindow();" class="list-group-item" *ngIf="tokenInfo.hasCampaigns">
            <i class="fa fa-fw fa-ship"></i>&nbsp;{{ 'Campaigns' | translate }}
        </a>
        <a *ngIf="userCreatePermission" [routerLink]="['/users']" [routerLinkActive]="['router-link-active']" (click)="this.eventService.closeLatestAgmInfoWindow();" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'Users' | translate }}
        </a>
        <a *ngIf="userCreatePermission" [routerLink]="['/signup']" [routerLinkActive]="['router-link-active']" (click)="this.eventService.closeLatestAgmInfoWindow();" class="list-group-item">
            <i class="fa fa-fw fa-user-plus"></i>&nbsp;{{ 'Create new user' | translate }}
        </a>
        <a [routerLink]="['/user-settings']" [routerLinkActive]="['router-link-active']" (click)="this.eventService.closeLatestAgmInfoWindow();" class="list-group-item">
            <i class="fa fa-fw fa-cog"></i>&nbsp;{{ 'Settings' | translate }}
        </a>
        <a [routerLink]="['/login']" (click)="onLoggedout()" class="list-group-item">
            <span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
        </a>
    </div>
</nav>
