.divContainer{
    width:100%;
    min-height: 200px;
}
.leftdiv{
    width: 49%;
    display:inline-block;
    margin-right:.5%;
}
.rightdiv{
    width:49%;
    display:inline-block;
    margin-left:.5%;
}

.space-right{
    margin-right: 10px;
}
.selectBtn{
    font-size: 1.25rem;
    background-color: transparent;
    color: #007bff;
    border-color: #007bff;
    border-width:  1px;
    &:active, &:hover {
        background-color:#007bff ;
        color: white;
        // box-shadow: 0 0 0 0.2rem rgba(66, 125, 237, 0.5);
    }

    &:focus {
        box-shadow: 0 0 0 0.2rem rgba(66, 125, 237, 0.5);
    }

    &.totalsHelpBtn {
        color: white;
        border-color: white;
    }
}

.headerContainer{
    margin-top: -15px;
    padding-top: 15px;
    position: fixed;
    background: #ffffff;
    width: 100%;
    z-index: 10;
}
.headerSpacer{
    height: 80px;
}

.dateSelectorModal{
    height: 100%;
}

.div-right-20{
    margin-right:20px;
}

.multiselect-dropdown{
    width: 100%;
}

.keyTD{
    background: gray;
    color: white;
}
.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}
.custom-day.focused {
    background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
}
.custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
}

.disable-day{
    background-color: white;
    color: rgb(225, 225, 225) !important;
 }
 
 .multiSelectDiv {
    width: 35%;
    min-width: 400px;
    margin-right:20px;
}

.text-muted{
    padding-left: 10px;
}

.helpBtn {
    margin-left: 15px;
    padding: 0;
    border-radius: 13px;
    width: 26px;
    height: 26px;
    color: #427ded;
    border-color: #427ded;
    float: right;

    &:active, &:hover {
        background-color: #427ded;
        color: white;
        box-shadow: 0 0 0 0.2rem rgba(66, 125, 237, 0.5);
    }

    &:focus {
        box-shadow: 0 0 0 0.2rem rgba(66, 125, 237, 0.5);
    }

    &.totalsHelpBtn {
        color: white;
        border-color: white;
    }
}

.row {
    margin-right: 0px !important;
}

.printOnly {
    display: none;
}
@media print {
    @page {size: landscape}
    
    .hideOnPrint {
        display: none;
    }

    .headerBarStyling {
        margin-top: 0;
    }

    .printOnly{
        display: block;
        font-size: 14px;
    }

    .frontpage {
        width: 100%;
        height: 100%;
        page-break-after: always;
    }
    
    .frontpageHeader {
        -webkit-print-color-adjust: exact !important;
        margin-top: -3.85cm;
        margin-left: -0.37cm;
        height: 7cm;
        text-align: center;
        padding-top: 0.2cm;
    }

    .logoImage {
        height: 8cm;
        margin-top: 0.25cm;
        float: right;
    }

    .divContainer {
        margin-top: 15mm;
    }

    .frontpageContent {
        -webkit-print-color-adjust: exact !important;
        margin-left: -0.37cm;
        margin-right: 2cm;
        height: 11.85cm;
    }

    .frontpageContentArea {
        background-color: #c6d9f1;
        width: 70%;
        margin-left: -0.37cm;
        padding-left: 1.5cm;
        padding-top: 0.5cm;
        height: 7cm;
    }

    .frontpageFooter {
        -webkit-print-color-adjust: exact !important;
        height: 2cm;
        color: lightslategrey;
        padding-left: 1cm;
    }
}