<div>
  <app-page-header [heading]="'User settings'" [icon]="'fa-cog'"></app-page-header>
  <div class="row">
    <div class="col-xl-6 col-lg-12">
      <div class="card mb-3">
        <div class="card-header">General</div>
        <div class="card-body">
          <table class="table table-responsive table-bordered tableSummary">
            <tr>
              <td>User</td>
              <td>{{token.username}}</td>
            </tr>
            <tr>
              <td>Account permissions</td>
              <td>{{token.userPermission}}</td>
            </tr>
            <tr>
              <td>Token expires</td>
              <td>{{getTokenExpiredDate()}}</td>
            </tr>
            <tr>
              <td>Time display</td>
              <td>
                <div [ngbTooltip]="helpTimeDisplay" placement="bottom">
                  <select class="form-control selectType" [(ngModel)]="settings.Timezone" (change)="changeSetting()">
                    <option *ngFor="let option of settings.options.time" class="dropdown-item">
                      {{option}}
                    </option>
                  </select>
                  <select *ngIf="settings.Timezone=='custom'" class="form-control selectType margin-up" type="number"
                    [(ngModel)]="settings.fixedTimeZoneOffset">
                    <option *ngFor="let option of settings.options.customTimeZone" class="dropdown-item" [value]="option.value">
                      {{option.name}}
                    </option>
                  </select>
                    <select *ngIf="settings.Timezone=='timezone'" class="form-control selectType margin-up" type="number"
                    [(ngModel)]="settings.fixedTimeZoneLoc">
                    {{option}}
                    <option *ngFor="let option of settings.options.customTimeZoneLocations" class="dropdown-item" [value]="option.value">
                      {{option.name}}
                    </option>
                  </select>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-12">
      <div class="card mb-3">
        <div class="card-header">Preferred units</div>
        <div class="card-body table-responsive">
          <table class="table table-responsive table-bordered tableSummary">
            <thead></thead>
            <tbody>
              <tr>
                <td>Distance</td>
                <td>
                  <select class="form-control selectType" [(ngModel)]="settings.unit_distance" (change)="changeSetting()">
                    <option *ngFor="let option of settings.options.distance" class="dropdown-item">{{option}}</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>Speed</td>
                <td>
                  <select class="form-control selectType" [(ngModel)]="settings.unit_speed" (change)="changeSetting()">
                    <option *ngFor="let option of settings.options.speed" class="dropdown-item">{{option}}</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>Weight</td>
                <td>
                  <select class="form-control selectType" [(ngModel)]="settings.unit_weight" (change)="changeSetting()">
                    <option *ngFor="let option of settings.options.weight" class="dropdown-item">{{option}}</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div>
    <button class="btn btn-outline-primary" (click)="saveSettings()">
      Save all
    </button>
  </div>
</div>

<ng-template #helpTimeDisplay class="helpContent">
  Alters the way time is being displayed. 
  'UTC' displays all times in UTC +0 timezone.
  'VESSEL' mode shows the timezone the vessel is currently sailing in.
  'OWN' adjusts all times to the timezone of the system you are using to access the dataviewer
  'CUSTOM' lets you set your own time offset
  'Timezone' lets you select a timezone, which checks for daylights savings difference

</ng-template>
