.user-settings-wrapper{
    padding: 10px;
}

.tbody {
    width: 100%
}

.userCreateAlert {
    position: fixed;
    bottom: 0px;
}

.table {
    display: table;
}

.margin-up {
    margin-top: 8px;
}