<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <img class="user-avatar" src="assets/images/logo.png" height="100px" />
            <h4>BMO Dataviewer - Create password</h4>
            <form role="form" *ngIf="!noUser&&!showAfterscreen">
                <div class="form-content" style="padding-top: 20px;">
                    Hello {{user}}, create your password here
                    <ngb-alert *ngIf="showAlert" [type]="alert.type" (close)="showAlert=false">{{ alert.message }}</ngb-alert>
                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" name="passwordField" id="passwordField" [(ngModel)]="passwords.password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" name="confirmPasswordField" id="confirmPasswordField" [(ngModel)]="passwords.confirmPassword" placeholder="Repeat Password">
                    </div>
                    <p *ngIf="initiate2fa">For the Dataviewer we have implemented two-factor authentication. <br>
                    Please scan the QR code using you authenticator or <a (click)="openModal(content)" href="javascript:void(0)">click here for more information</a></p>
                    
                    <p *ngIf="!initiate2fa">It seems you already implemented 2fa. <br>
                    If for some reason you are not able to access your 2fa device please contact BMO to reset your 2fa.</p>

                    <ng-template #content let-modal>
                        <div class="modal-header">
                            <h4 class="modal-title">Two factor authentication information</h4>
                            <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form >
                                <div class="form-content">
                                        At BMO we made the decision to enable two factor authentication on our website. This requires the user to have a second indentifier when logging in. This way we can guarantee that only people authorized to see their data are able to.<br><br>
                                        What does this mean for you? You are required to install an authenticator application on your phone. This could be any authenticator you wish. A few examples are the Google Authenticator or Lastpass Authenticator.<br><br>
                                        Within the app you have the opportunity to scan something called a QR code. A QR code is the white and black blocky image you saw on the previous page. After scanning the code it should show up in your authenticator app.
                                        The six digit code that is listed in your app is a so called response code. This six digit code is the code you are asked for on the previous page and every time you log in.<br><br>
                                        After you submit this code together with your new password your details will be saved. On every log-in attempt you are prompted to fill your response code as well. If your username and password match and the Authenticator Response code is recent you are permitted entrance to the Dataviewer. <br><br>
                                        Another upside of Two Factor Authentication is that your Authenticator app does not require internet. If your laptop has internet but your phone does not you can still log in without issues. <br><br>
                                        If you want more information about two factor authentication <a href="https://en.wikipedia.org/wiki/Multi-factor_authentication"> please press here</a> or contact BMO-Offshore if you have any issues.

                                    </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary"(click)="closeModal()">Close window</button>
                        </div>
                    </ng-template>


                    <div class="aclass" *ngIf="initiate2fa">
                        <ngx-qrcode [qrc-value] = "QRCode" qrc-class = "aclass" qrc-errorCorrectionLevel = "L">
                        </ngx-qrcode>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" maxlength="6" name="confirm2fa" id="confirm2fa" [(ngModel)]="passwords.confirm2fa" placeholder="two-factor authentication response code">
                    </div>
                </div>
                <a class="btn rounded-btn" (click)="setUserPassword()"> Submit </a>
            </form>
            <div *ngIf="noUser">
                The requested page is not available.
            </div>
            <div *ngIf="showAfterscreen">Succesfully set your password, you will be redirected to our login page soon.</div>
        </div>
    </div>
</div>
