<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150" />
            <h1>BMO Dataviewer - Create password</h1>
            <form role="form" *ngIf="!noUser&&!showAfterscreen">
                <div class="form-content">
                    Hello {{user}}, create your password here
                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" name="passwordField" id="passwordField" [(ngModel)]="passwords.password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" name="confirmPasswordField" id="confirmPasswordField" [(ngModel)]="passwords.confirmPassword" placeholder="Repeat Password">
                    </div>
                    
                    <ngb-alert *ngIf="showAlert" [type]="alert.type" (close)="showAlert=false">{{ alert.message }}</ngb-alert>
                </div>
                <a class="btn rounded-btn" (click)="setUserPassword()"> Submit </a>
            </form>
            <div *ngIf="noUser">
                The requested page is not available.
            </div>
            <div *ngIf="showAfterscreen">Succesfully set your password, you will be redirected to our login page soon.</div>
        </div>
    </div>
</div>
