.form {
    .submitBtnDiv {
        margin-top: 1rem;
        margin-left: 15px;

        .btn {
            margin-bottom: 1rem;
        }
    }

    .weatherDayTarget{
        overflow: hidden;

        > * {
            float: left;
            width: 50%;
        }
    }

    .form-control[readonly] {
        background-color: white;
        cursor: pointer;
    }

    .emptyRequired{ 
        input, .dropdown-btn {
            border-color: red !important; 
        }
    }

    button {
        cursor: pointer;
    }

    .row {
        margin: 0;
    }

    .second {
        margin-left: 1rem;
    }

    .helpDiv {
        margin-top: -.7rem;
        margin-bottom: 1rem;

        .helpBtn {
            margin: 0 !important;
            padding: 0;
            border-radius: 13px;
            width: 26px;
            height: 26px;
            color: #427ded;
            border-color: #427ded;
        
            &:active, &:hover {
                background-color: #427ded;
                color: white;
                box-shadow: 0 0 0 0.2rem rgba(66, 125, 237, 0.5);
            }
        
            &:focus {
                box-shadow: 0 0 0 0.2rem rgba(66, 125, 237, 0.5);
            }
        }
    }
}

ngb-alert {
    position: fixed !important;
    bottom: 0px !important;
}

@media only screen and (min-width: 992px){
    .helpDiv {
        line-height: 78px;
        margin: 0 !important;
    }

    .col-lg-4 {
        min-width: 550px;
    }

    .col-lg-2 {
        min-width: 275px;
    }
}