<div [@routerTransition] *ngIf="user">
  <app-page-header [heading]="'Usermanagement'" [icon]="'fa-edit'"></app-page-header>
  <table class="table table-responsive">
    <tr>
      <td>Username:</td>
      <td>{{user.username}}</td>
    </tr>
    <tr>
      <td>Permissions:</td>
      <td>{{user.permissions}}</td>
    </tr>
    <tr *ngIf="permission.admin">
      <td>Client:</td>
      <td>{{user.client}}</td>
    </tr>
  </table>
  <div class="multiSelectDiv">
    <ng-multiselect-dropdown [placeholder]="'Select vessel'" [data]="boats" [(ngModel)]="user.boats"
      [settings]="multiSelectSettings">
    </ng-multiselect-dropdown>
  </div>
  <div class="submitBtnDiv">
    <button class="btn btn-lg btn-primary submitBtnDate" (click)="saveUserBoats()" type="button">Save</button>
  </div>
  <ngb-alert *ngIf="alert.active" [type]="alert.type" (close)="alert.active=false">{{ alert.text }}</ngb-alert>
</div>