<div [@routerTransition] *ngIf="user">
  <app-page-header [heading]="'Usermanagement'" [icon]="'fa-edit'"></app-page-header>
  <table class="table table-responsive">
    <tr>
      <td>Username:</td>
      <td>{{user.username}}</td>
    </tr>
    <tr>
      <td>Permissions type:</td>
      <td>{{user.permission.user_type}}</td>
    </tr>
    <tr *ngIf="permission.admin">
      <td>Client:</td>
      <td>{{user.client_name}}</td>
    </tr>
  </table>
  <div class="multiSelectDiv">
    <ng-multiselect-dropdown [placeholder]="'Select vessel'" [settings]="multiSelectSettings"
    [data]="allowed_vessels" [(ngModel)]="selected_vessels"
      >
    </ng-multiselect-dropdown>
  </div>
  <div class="submitBtnDiv">
    <button class="btn btn-lg btn-primary submitBtnDate" (click)="saveUserBoats()" type="button">Save</button>
  </div>
</div>
