<div class="row">
  <div *ngIf="data" class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
    <plotly-plot [data]="data" className="plotly-canvas" [layout]='PlotLayout' [config]="options"
      (initialized)="onPlotlyInit($event)">
    </plotly-plot>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
    Selected heading:
    <div class=flex-container>
      <input class="form-control headingInput" type="number" min="0" max="360" 
        step="45" (change)="changed=true;" [(ngModel)]="heading">
      <button id="confirm-" (click)="onConfirm()" (disabled)="true" class="btn btn-sm btn-primary submitBtnDate">
        Update heading
      </button>
    </div>
  </div>
</div>