.dockingGraph {
    position: relative;
    width:100% !important;
}
.dockingGraph canvas {
    max-height: 450px !important;
}
.blank_row
{
    height: 10px !important;
    background-color: #FFFFFF;
}