.dockingGraph {
    position: relative;
    width:100% !important;
}
.dockingGraph canvas {
    max-height: 450px !important;
}

.tableSummary td:nth-child(1) {
    background: gray;
    color: white;
    
}

.tableSummarySpecial {
    background: gray;
    color: white;
    
}
.tableTotal {
    border-top: 3px black solid;
}

ngb-alert {
    position: fixed;
    bottom: 0px;
}

.btn-danger{
    margin-left: 2em;
}

.submitbtnclass{
    background: white !important;
}

.tableSummary {
    border: 1px;
}

agm-map {
    height: 400px;
}

.dailySummary {
    display: inline-block;
    vertical-align: top;
}

.weatherOverview{
    display: inline-block;
    position: relative;
    width: 90%;
    canvas{
        position: relative;
    }
}

.tableRow{
    display: flex;
    flex-wrap: wrap;
    line-height: calc(2.25rem + 2px);
}

.helpBtn {
    margin: 0 !important;
    padding: 0;
    border-radius: 13px;
    width: 26px;
    height: 26px;
    color: #427ded;
    border-color: #427ded;
    &::active, &::hover {
        background-color: #427ded;
        color: white;
        box-shadow: 0 0 0 0.2rem rgba(66, 125, 237, 0.5);
    }

    &::focus {
        box-shadow: 0 0 0 0.2rem rgba(66, 125, 237, 0.5);
    }

    .totalsHelpBtn {
        color: white;
        border-color: white;
    }

    .addVesselHelp {
        right: 60px;
        position: absolute;
    }
}

@media print {
    .plsdonotprintthisforfsake {
        display:none !important;
        z-index: 1;
    }
    .table-responsive {
        width: 100%;
        margin-left: 0;
        padding: 0;
        font-size: 10pt;
    }

    .btn {
        display: none;
    }

    .form-control
    {
        border: 0;
        padding:0;
        overflow:visible;
    }

    .form-control-sm{
        border: 0;
        padding:0;
        overflow:visible;
    }

    .btn-outline-primary{
        border: 0;
        padding:0;
        overflow:visible;
        width: auto; 
    }

    hr {
        display: none;
    }

    .dropdown-toggle{
        border: 0;
        padding:0;
        overflow:visible;
        width: auto;
    }

    .commentButton{
        color: black;
    }

    td.comment{
        width: 150px;  
    }


    .dropdown-toggle::after {
        display: none !important;
    }
    
    .col-print-1 {width:8%;  float:left;}
    .col-print-2 {width:16%; float:left;}
    .col-print-3 {width:25%; float:left;}
    .col-print-4 {width:33%; float:left;}
    .col-print-5 {width:42%; float:left;}
    .col-print-6 {width:50%; float:left;}
    .col-print-7 {width:58%; float:left;}
    .col-print-8 {width:66%; float:left;}
    .col-print-9 {width:75%; float:left;}
    .col-print-10{width:83%; float:left;}
    .col-print-11{width:92%; float:left;}
    .col-print-12{width:100%; float:left;}
    
}

@media (orientation: landscape) {
    .singlepage-print {
        display: block;
        page-break-before: always;
    }

    agm-map {
        height: 480px;
        width: 297mm ;
        display: inline-flex;
    }
  }
  
  @media (orientation: portrait) {
    .singlepage-print-port {
        display: block;
        page-break-before: always;
    }
  }
