.dockingGraph {
    position: relative;
    width:100% !important;
}
.dockingGraph canvas {
    max-height: 450px !important;
}

.tableSummary td:nth-child(1) {
    background: gray;
    color: white;
}

agm-map {
    height: 400px;
}

.dailySummary {
    display: inline-block;
    vertical-align: top;
}

.weatherOverview{
    display: inline-block;
    align-self: center;
    width: 90%;
    canvas{
        position: relative;
    }
}