<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6" style="min-width: 700px;">
    <app-forecast-workability-plot [time]="time" [workabilityAlongHeading]="workabilityAlongSelectedHeading"
    [startTime]="startTime" [stopTime]="stopTime"></app-forecast-workability-plot>
  </div>
  
  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6" style="min-width: 700px;">
      <app-surface-plot *ngIf="workability" xLabel="time" yLabel="Heading [deg]" title="Workability"
        [xData]="time" [yData]="workabilityHeadings" [zData]="workability" zMax="125"></app-surface-plot>
    </div>
  
</div>
