agm-map {
    height: 400px;
}

.divContainer{
    width:100%;
}
.leftdiv{
    width: 49%;
    display:inline-block;
    margin-right:.5%;
}
.rightdiv{
    width:49%;
    display:inline-block;
    margin-left:.5%;
}