agm-map {
    height: 400px;
}

.divContainer {
    width:100%;
    min-height: 200px;
}

.boatSelectDropdown {
    height: 48px !important;
    margin-left: 20px;
}


ngb-alert {
    position: fixed;
    bottom: 0px;
}

.pending_collection {
    background-color: #f98a00;
}
:disabled {
    opacity: 0.4;
}

.custom-day {
    text-align:center;
    line-height: 2rem;
    background-color:rgb(245, 245, 245);
}

.has-sailed{
    background-color:rgb(198, 233, 255);
}

.disable-day{
   background-color: white;
   color: rgb(225, 225, 225) !important;
}
