agm-map {
    height: 480px;
}

.transitTable{
    margin-bottom: 0;
}

.divContainer {
    width:100%;
    min-height: 200px;
    margin-top:1rem;
}

@media only screen and (min-width: 667px) {
    .boatSelectDropdown {
        margin-left: 20px;
    }
}

.ctvMap {
    display: inline-block;
}

ngb-alert {
    position: fixed;
    bottom: 0px;
}

.pending_collection {
    background-color: #f98a00;
}
:disabled {
    opacity: 0.4;
}
.videoRequestLoading {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.995);
    z-index: 1050;
}
.custom-day {
    text-align:center;
    line-height: 2rem;
    background-color:rgb(245, 245, 245);
}

.has-sailed-transfer{
    background-color:rgb(198, 233, 255);
}

.has-sailed-transit{
    background-color:rgb(255, 255, 211);
}

.disable-day{
   background-color: white;
   color: rgb(225, 225, 225) !important;
}

.noMapDataAlert {
    position: relative;
    width: 99%;
}

.loader {
    position: fixed;
    left: 50%;
    top: 50%;
}

.weatherOverview{
    display: inline-block;
    position: relative;
    align-self: center;
    width: 90%;
    canvas{
        position: relative;
    }
}

.weatherMap{
    padding-top: 25px;
}

.helpBtn {
    margin: 0 !important;
    padding: 0;
    border-radius: 13px;
    width: 26px;
    height: 26px;
    color: #427ded;
    border-color: #427ded;
    &::active, &::hover {
        background-color: #427ded;
        color: white;
        box-shadow: 0 0 0 0.2rem rgba(66, 125, 237, 0.5);
    }

    &::focus {
        box-shadow: 0 0 0 0.2rem rgba(66, 125, 237, 0.5);
    }

    .totalsHelpBtn {
        color: white;
        border-color: white;
    }

    .addVesselHelp {
        right: 60px;
        position: absolute;
    }
}

@media print {
    .no-print {
       display: none;
    }
}
